@model TheBookingPlatform.ViewModels.CompanyListingViewModel
@{
    ViewBag.Title = "Index";
}
<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        @if (Model.Companies != null)
        {
            <div class="card">

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr style="font-size:x-small;">

                                <th class="text-center">
                                    Business
                                </th>
                                <th class="text-center">
                                    Phone Number
                                </th>
                                <th class="text-center">
                                    Address
                                </th>

                                <th class="text-center">
                                    Email
                                </th>
                                <th class="text-center">
                                   Country
                                </th>
                                <th>
                                    Employees
                                </th>
                                <th class="text-center">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Companies)
                            {
                                <tr>
                                    <td class="text-center">@item.Company.Business</td>
                                    <td class="text-center">@item.Company.PhoneNumber</td>
                                    <td class="text-center">@item.Company.Address</td>
                                    <td class="text-center">@item.Company.ContactEmail</td>
                                    <td class="text-center">@item.Company.CountryName</td>
                                    <td class="text-center">
                                        <select class="form-control choices__input">
                                            @foreach (var emp in item.EmployeesLinked)
                                            {
                                                <option value="@emp">@emp</option>
                                            }
                                        </select>
                                    </td>
                                    <td class="text-center">

                                        <a href="@Url.Action("Action", "Company", new { ID = item.Company.ID })" class="btn btn-sm btn-rounded btn-info btn-icon-text"><i class="mdi mdi-pencil"></i> EDIT</a>
                                        <button data-href="@Url.Action("Delete", "Company", new { ID = item.Company.ID })" type="button" class="data-btn btn btn-sm btn-rounded btn-danger btn-icon-text" data-bs-toggle="modal" data-bs-target="#actionModal"><i class="mdi mdi-delete"></i>DELETE</button>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {

            <div class="alert alert-warning col-md-12" role="alert">
                Sorry! No records exist.
            </div>
            }
    </div>
</div>

<script>
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
        });
</script>



