@model TheBookingPlatform.ViewModels.CustomerListingViewModel
@{
    ViewBag.Title = "Index";
}
<style>
</style>
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Customers </h2>

        <form>
                <a href="@Url.Action("Index","Customer")" class="btn btn-outline-secondary btn-sm btn-rounded"><i class="fas fa-redo-alt mr-1"></i> Reset</a>
                <a style="padding:10px;" href="@Url.Action("Action", "Customer")" class="btn btn-outline-success btn-sm btn-rounded"><i class="fas fa-plus mr-1"></i> Create</a>
                <button data-href="@Url.Action("Import", "Customer")" type="button" class="data-btn btn btn-sm btn-rounded btn-danger btn-icon-text" data-bs-toggle="modal" data-bs-target="#actionModal"><i class="mdi mdi-delete"></i>IMPORT</button>
                <button type="button" id="exportBtn" class="btn btn-outline-success btn-sm btn-rounded"> EXPORT</button>
                <input style="margin-left:50px;" type="text" class="form-control" readonly value="Customers: @Model.Customers.Count()" />
        </form>

        <div class="row">

            <div class="col-lg-12 grid-margin stretch-card">
                @if (Model.Customers != null)
                {

                        <div class="table-responsive" style="height:600vh;" >
                            <table id="CustomersTable" class="table table-striped">
                                <thead>
                                    <tr>

                                        <th class="text-center">
                                            Name
                                        </th>
                                        <th class="text-center">
                                            Email
                                        </th>

                                        <th class="text-center">
                                            Mobile
                                        </th>
                                        <th class="text-center">
                                            Is Blocked
                                        </th>

                                        <th class="text-center">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Customers)
                                    {
                                        <tr class="customerID" data-id="@item.ID">
                                            <td style="cursor:pointer;" onclick='window.location.href="@Url.Action("CustomerProfile","Customer",new{ID=item.ID})"' class="text-center">@item.FirstName @item.LastName</td>
                                            <td style="cursor:pointer;" onclick='window.location.href="@Url.Action("CustomerProfile","Customer",new{ID=item.ID})"' class="text-center">@item.Email</td>
                                            <td style="cursor:pointer;" onclick='window.location.href="@Url.Action("CustomerProfile","Customer",new { ID=item.ID})"' class="text-center">@item.MobileNumber</td>
                                            @if (item.IsBlocked)
                                            {
                                                <td class="text-center">
                                                    <select class="form-control choices__input" onchange="ChangeBlockStatus('@item.ID')">
                                                        <option value="True" selected>Yes</option>
                                                        <option value="False">No</option>
                                                    </select>
                                                </td>

                                            }
                                            else
                                            {
                                                <td class="text-center">
                                                    <select class="form-control choices__input" onchange="ChangeBlockStatus('@item.ID')">
                                                        <option value="True">Yes</option>
                                                        <option selected value="False">No</option>
                                                    </select>
                                                </td>

                                            }

                                            <td class="text-center">

                                                <a href="@Url.Action("Action", "Customer", new { ID = item.ID })" class="btn btn-sm btn-rounded btn-info btn-icon-text"><i class="mdi mdi-pencil"></i> EDIT</a>
                                                <button data-href="@Url.Action("Delete", "Customer", new { ID = item.ID })" type="button" class="data-btn btn btn-sm btn-rounded btn-danger btn-icon-text" data-bs-toggle="modal" data-bs-target="#actionModal"><i class="mdi mdi-delete"></i>DELETE</button>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                }
                else
                {

                    <div class="alert alert-warning col-md-12" role="alert">
                        Sorry! No records exist.
                    </div>
                }
            </div>
        </div>
    </div>

</div>

<div class="modal  fade center" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>
<script>

    function ChangeBlockStatus(ID) {
        $.ajax({
            url: '@Url.Action("ChangeBlockStatus", "Customer")', // Update this with your controller and action names
            type: 'POST',
            data: { ID: ID },
            success: function (result) {
                alert("Status Updated");

            },
            error: function (error) {
                // Handle error response if needed
            }
        });
    }

    $("#exportBtn").click(function () {
        var rowIds = [];
        // Collect data-id from each row with class customerID
        $('#CustomersTable tr.customerID').each(function () {
            rowIds.push($(this).data('id'));
        });
        var serializedRowIds = JSON.stringify(rowIds);
        debugger
        $.ajax({
            url: '@Url.Action("Export","Customer")',
            type: 'POST',
            data: {
                IDs: serializedRowIds
            },
            xhrFields: {
                responseType: 'blob' // Important
            }


        })
            .done(function (blob) {
                var link = document.createElement('a');
                // Create a blob URL for the binary data
                var url = window.URL.createObjectURL(blob);
                link.href = url;
                link.download = 'Customers.xlsx';

                // Append the link to the body
                document.body.appendChild(link);

                // Simulate a click on the link
                link.click();

                // Remove the link from the document
                document.body.removeChild(link);

                // Release the object URL
                window.URL.revokeObjectURL(url);
            });
    });


    $(document).ready(function () {
        $('#CustomersTable').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            }

        });

        $(document).on('click', '.data-btn', function () {
            $.ajax({
                url: $(this).attr("data-href"),
            })
                .done(function (response) {
                    $("#actionModal .modal-dialog").html(response);
                    $("#actionModal").modal('show'); // Make sure the modal is shown after the response is loaded
                });
        });
    });

</script>
