@model TheBookingPlatform.ViewModels.ProductListingViewModel
@{
    ViewBag.Title = "Index";
}
<style>
    #Search {
        width: 100%;
        max-width: 400px;
        padding: 12px 15px 12px 12px;
        border: 1px solid #ddd;
        border-radius: 6px;
        font-size: 14px;
        color: #001f3f;
    }
</style>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Products </h4>


        <form>
            <div class="row">

                <input id="Search" type="text" name="searchterm" class="form-control col-md-8" placeholder="Search." value="@Model.SearchTerm">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
            <button id="SearchBtn" class="btn btn-outline-primary btn-sm btn-rounded" type="button"><i class="fas fa-search mr-1"></i> Search</button>
            <button type="button" id="ResetBtn" class="btn btn-outline-secondary btn-sm btn-rounded"><i class="fas fa-redo-alt mr-1"></i> Reset</button>
            <a href="@Url.Action("Action", "Product")" class="btn btn-outline-success btn-sm btn-rounded"><i class="fas fa-plus mr-1"></i> Create</a>
            <button data-href="@Url.Action("ProductImport", "Product")" type="button" class="data-btn btn btn-sm btn-rounded btn-danger btn-icon-text" data-bs-toggle="modal" data-bs-target="#actionModal"><i class="mdi mdi-delete"></i>IMPORT</button>

        </form>


        <div class="row">
            <div class="col col-lg-12">
                @if (Model.Products != null)
                {

                    <div class="table-responsive">
                        <table id="ProductsTable" class="table table-striped">
                            <thead>
                                <tr>

                                    <th class="text-center">
                                        Name
                                    </th>
                                    <th class="text-center">
                                        Category
                                    </th>
                                    <th class="text-center">
                                        Price
                                    </th>
                                    <th class="text-center">
                                        VAT
                                    </th>
                                    <th class="text-center">
                                        Stock
                                    </th>

                                    <th class="text-center">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Products)
                                {
                                    <tr>
                                        <td class="text-center">@item.Name</td>
                                        <td class="text-center">@item.Category</td>
                                        <td class="text-center">@item.Price</td>
                                        <td class="text-center">@item.VAT</td>
                                        @if (item.ManageStockOrder == false)
                                        {
                                            <td class="text-center">
                                                --
                                            </td>

                                        }
                                        else
                                        {
                                            <td class="text-center">
                                                @item.CurrentStock

                                            </td>
                                        }
                                        <td class="text-center">

                                            <a href="@Url.Action("Action", "Product", new { ID = item.ID })" class="btn btn-sm btn-rounded btn-info btn-icon-text"><i class="mdi mdi-pencil"></i> EDIT</a>
                                            <button data-href="@Url.Action("Delete", "Product", new { ID = item.ID })" type="button" class="data-btn btn btn-sm btn-rounded btn-danger btn-icon-text" data-bs-toggle="modal" data-bs-target="#actionModal"><i class="mdi mdi-delete"></i>DELETE</button>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {

                    <div class="alert alert-warning col-md-12" role="alert">
                        Sorry! No records exist.
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script>


    $("#SearchBtn").click(function () {
        var SearchTerm = $("#Search").val();
        RepopulateProducts(SearchTerm);
    })

    $("#ResetBtn").click(function () {
        RepopulateProducts();
        $("#Search").val('');

    })
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });


</script>



