@model TheBookingPlatform.ViewModels.AnalysisViewModel
@{
    ViewBag.Title = "Analysis";
}

<head>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
    <!-- Bootstrap core CSS     -->
    @*<link href="~/Content/MainTemplate/assets/css/bootstrap.min.css" rel="stylesheet" />*@



    <!--  Material Dashboard CSS    -->
    <script src="~/Content/MainTemplate/assets/js/jquery.select-bootstrap.js"></script>


</head>
<style>
    .panel-heading > .dropdown .dropdown-toggle {
        color: inherit
    }
    .btn-group-justified > .btn-group .dropdown-menu {
        left: auto
    }
    .btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child, .btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }

    .btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }
    .dropdown-menu-hide {
        display: none !important; /* Initially hidden */
    }

    .dropdown-menu-show {
        display: block !important; /* Show dropdown when class is added */
    }


    .btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle {
        outline: 0
    }

    .btn-group > .btn + .dropdown-toggle {
        padding-right: 8px;
        padding-left: 8px
    }

    .btn-group > .btn-lg + .dropdown-toggle {
        padding-right: 12px;
        padding-left: 12px
    }

    .btn-group.open .dropdown-toggle {
        -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
        box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
    }

        .btn-group.open .dropdown-toggle.btn-link {
            -webkit-box-shadow: none;
            box-shadow: none
        }
    .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
        border-radius: 0
    }

    .btn-group > .btn:first-child {
        margin-left: 0
    }

        .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0
        }

    .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }

    .btn-group > .btn-group {
        float: left
    }.dropdown, .dropup {
    position: relative
}

.dropdown-toggle:focus {
    outline: 0
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175)
}

    .dropdown-menu.pull-right {
        right: 0;
        left: auto
    }

    .dropdown-menu .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5
    }

    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap
    }

        .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
            color: #262626;
            text-decoration: none;
            background-color: #f5f5f5
        }

    .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
        color: #fff;
        text-decoration: none;
        background-color: #337ab7;
        outline: 0
    }

    .dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:focus, .dropdown-menu > .disabled > a:hover {
        color: #777
    }

        .dropdown-menu > .disabled > a:focus, .dropdown-menu > .disabled > a:hover {
            text-decoration: none;
            cursor: not-allowed;
            background-color: transparent;
            background-image: none;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
        }

.open > .dropdown-menu {
    display: block
}

.open > a {
    outline: 0
}

.dropdown-menu-right {
    right: 0;
    left: auto
}

.dropdown-menu-left {
    right: auto;
    left: 0
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap
}

.dropdown-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 990
}

.pull-right > .dropdown-menu {
    right: 0;
    left: auto
}

    .dropdown-menu > li > a {
        padding: 8px 20px !important;
      
    }
.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    content: "";
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid\9
}

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px
}

@@media (min-width:768px) {
    .navbar-right .dropdown-menu {
        right: 0;
        left: auto
    }

    .navbar-right .dropdown-menu-left {
        right: auto;
        left: 0
    }
}

    select.bs-select-hidden, select.selectpicker {
        display: none !important;
    }

    .bootstrap-select {
        width: 220px \0;
        /*IE9 and below*/
    }

        .bootstrap-select > .dropdown-toggle {
            width: 100%;
            padding-right: 25px;
            z-index: 1;
        }

        .bootstrap-select > select {
            position: absolute !important;
            bottom: 0;
            left: 50%;
            display: block !important;
            width: 0.5px !important;
            height: 100% !important;
            padding: 0 !important;
            opacity: 0 !important;
            border: none;
        }

            .bootstrap-select > select.mobile-device {
                top: 0;
                left: 0;
                display: block !important;
                width: 100% !important;
                z-index: 2;
            }

    .has-error .bootstrap-select .dropdown-toggle, .error .bootstrap-select .dropdown-toggle {
        border-color: #b94a48;
    }

    .bootstrap-select.fit-width {
        width: auto !important;
    }

    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 100%;
    }

    .bootstrap-select.form-control {
        margin-bottom: 0;
        padding: 0;
        border: none;
    }

        .bootstrap-select.form-control:not([class*="col-"]) {
            width: 100%;
        }

        .bootstrap-select.form-control.input-group-btn {
            z-index: auto;
        }

            .bootstrap-select.form-control.input-group-btn:not(:first-child):not(:last-child) > .btn {
                border-radius: 0;
            }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        float: none;
        display: inline-block;
        margin-left: 0;
    }

        .bootstrap-select.btn-group.dropdown-menu-right, .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right, .row .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
            float: right;
        }

    .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        margin-bottom: 0;
    }

    .form-group-lg .bootstrap-select.btn-group.form-control, .form-group-sm .bootstrap-select.btn-group.form-control {
        padding: 0;
    }

    .form-inline .bootstrap-select.btn-group .form-control {
        width: 100%;
    }

    .bootstrap-select.btn-group .dropdown-menu li.disabled a:hover, .bootstrap-select.btn-group .dropdown-menu li.disabled a:focus {
        box-shadow: none;
    }

    .bootstrap-select.btn-group.disabled, .bootstrap-select.btn-group > .disabled {
        cursor: not-allowed;
    }

        .bootstrap-select.btn-group.disabled:focus, .bootstrap-select.btn-group > .disabled:focus {
            outline: none !important;
        }

    .bootstrap-select.btn-group.bs-container {
        position: absolute;
        height: 0 !important;
        padding: 0 !important;
    }

        .bootstrap-select.btn-group.bs-container .dropdown-menu {
            z-index: 1060;
        }

    .bootstrap-select.btn-group .dropdown-toggle .filter-option {
        display: inline-block;
        overflow: hidden;
        width: 100%;
        text-align: left;
        text-overflow: ellipsis;
    }

    .bootstrap-select.btn-group .dropdown-toggle .caret {
        position: absolute;
        top: 50%;
        right: 16px;
        margin-top: -2px;
        vertical-align: middle;
    }

    .bootstrap-select.btn-group[class*="col-"] .dropdown-toggle {
        width: 100%;
    }

    .bootstrap-select.btn-group .dropdown-menu {
        border-radius: 4px;
        padding: 0;
        min-width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .bootstrap-select.btn-group .dropdown-menu.inner {
            position: static;
            float: none;
            border: 0;
            padding: 5px 0;
            margin: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            -ms-overflow-style: auto;
        }

        .bootstrap-select.btn-group .dropdown-menu li {
            position: relative;
        }

            .bootstrap-select.btn-group .dropdown-menu li.active small {
                color: #fff;
            }

            .bootstrap-select.btn-group .dropdown-menu li.disabled a {
                cursor: not-allowed;
            }

            .bootstrap-select.btn-group .dropdown-menu li a {
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                outline: 0;
            }

                .bootstrap-select.btn-group .dropdown-menu li a:focus, .bootstrap-select.btn-group .dropdown-menu li a:hover {
                    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
                    background-color:seagreen;
                    color:white;
                }

                .bootstrap-select.btn-group .dropdown-menu li a.opt {
                    position: relative;
                    padding-left: 2.25em;
                }

                .bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
                    display: none;
                }

                .bootstrap-select.btn-group .dropdown-menu li a span.text {
                    display: inline-block;
                }

            .bootstrap-select.btn-group .dropdown-menu li small {
                padding-left: 0.5em;
            }

        .bootstrap-select.btn-group .dropdown-menu .notify {
            position: absolute;
            bottom: 5px;
            width: 96%;
            margin: 0 2%;
            min-height: 26px;
            padding: 3px 5px;
            background: #f5f5f5;
            border: 1px solid #e3e3e3;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            pointer-events: none;
            opacity: 0.9;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

    .bootstrap-select.btn-group .no-results {
        padding: 3px;
        background: #f5f5f5;
        margin: 0 5px;
        white-space: nowrap;
    }

    .bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
        position: static;
    }

    .bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
        position: static;
        top: auto;
        margin-top: -1px;
    }

    .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
        position: absolute;
        display: inline-block;
        right: 15px;
        font-size: 16px;
    }

    .bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
        margin-right: 34px;
    }

    .bootstrap-select.show-menu-arrow.open > .dropdown-toggle {
        z-index: 1061;
    }

    .bootstrap-select.show-menu-arrow .dropdown-toggle:before {
        content: '';
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid rgba(204, 204, 204, 0.2);
        position: absolute;
        bottom: -4px;
        left: 9px;
        display: none;
    }

    .bootstrap-select.show-menu-arrow .dropdown-toggle:after {
        content: '';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid white;
        position: absolute;
        bottom: -4px;
        left: 10px;
        display: none;
    }

    .bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
        bottom: auto;
        top: -3px;
        border-top: 7px solid rgba(204, 204, 204, 0.2);
        border-bottom: 0;
    }

    .bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
        bottom: auto;
        top: -3px;
        border-top: 6px solid white;
        border-bottom: 0;
    }

    .bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
        right: 12px;
        left: auto;
    }

    .bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
        right: 13px;
        left: auto;
    }

    .bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before, .bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
        display: block;
    }

    .bs-searchbox, .bs-actionsbox, .bs-donebutton {
        padding: 4px 8px;
    }

    .bs-actionsbox {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .bs-actionsbox .btn-group button {
            width: 50%;
        }

    .bs-donebutton {
        float: left;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .bs-donebutton .btn-group button {
            width: 100%;
        }

    .bs-searchbox + .bs-actionsbox {
        padding: 0 8px 4px;
    }

    .bs-searchbox .form-control {
        margin-bottom: 0;
        width: 100%;
        float: none;
    }

    .select-with-transition {
        border: 0 !important;
        background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
        background-size: 0 2px, 100% 1px;
        background-repeat: no-repeat;
        background-position: center bottom, center calc(100% - 1px);
        background-color: rgba(0, 0, 0, 0) !important;
        transition: background 0s ease-out !important;
        float: none !important;
        box-shadow: none !important;
        border-radius: 0 !important;
        color: #3C4858 !important;
        height: 34px;
        padding-left: 0 !important;
        padding-bottom: 5px !important;
    }

        .select-with-transition .caret, .select-with-transition .ripple-container {
            display: none;
        }

    .btn-group.bootstrap-select.show-tick.open .select-with-transition {
        outline: none !important;
        background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2) !important;
        background-size: 100% 2px, 100% 1px !important;
        box-shadow: none;
        transition-duration: 0.3s !important;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 0px 2px;
        vertical-align: middle;
    }


/*
    .selectize-dropdown{
        width:auto !important;
        background:white !important;
    }*/
    .card {
        margin-bottom: 10px;
        margin-top: 0px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="card col-md-12">
            <div class="card-body">
                <h4 class="card-title">
                    Analysis
                </h4>
                <span id="errorText" class="text-danger">

                </span>
                <form method="post">
                    <div style="align-items:end;" class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="input-group input-group-dynamic">
                                    @*<label style="margin-bottom:15px;"  class="label-control">Start Date</label>*@

                                    <input style="margin-top:15px;" type="date" name="StartDate" id="StartDate" class="form-control " value="@Model.StartDate.ToString("yyyy-MM-dd")" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="input-group input-group-dynamic">

                                    @*<label style="margin-bottom:15px;" class="label-control">End Date</label>*@
                                    <input style="margin-top:15px;" type="date" name="EndDate" id="EndDate" class="form-control " value="@Model.EndDate.ToString("yyyy-MM-dd")" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div style="margin-bottom:-10px;" id="SelectedEmployeeIDsGR"  class="form-group">
                                @*<label class="label-control">Choose Employees</label>*@
                                @*<select></select>*@

                                <select class="selectpicker" id="SelectedEmployeeIDs" name="SelectedEmployeeIDs" data-style="select-with-transition" multiple title="Choose Employees" data-size="7">

                                    @*<select id="SelectedEmployeeIDs" class="chocho" placeholder="Choose Employees" name="SelectedEmployeeIDs" multiple>*@
                                    @*<option disabled>Choose Employees </option>*@
                                    @foreach (var item in Model.Employees)
                                    {
                                        if (Model.SelectedEmployeeIDs != null)
                                        {
                                            if (Model.SelectedEmployeeIDs.Split(',').ToList().Contains(item.ID.ToString()))
                                            {
                                                <option selected value="@item.ID">@item.Name </option>
                                            }
                                            else
                                            {
                                                <option value="@item.ID">@item.Name </option>

                                            }
                                        }
                                        else
                                        {
                                            <option selected value="@item.ID">@item.Name </option>

                                        }
                                    }
                                </select>
                            </div>

                        </div>
                        <div class="col-md-2">
                            <div style="margin-bottom:-10px;" id="SelectedStatusGR"  class="form-group">
                                @*<label class="label-control">Choose Status</label>*@
                                <select class="selectpicker" id="SelectedStatuses" name="SelectedStatuses" data-style="select-with-transition" multiple title="Choose Status" data-size="7">
                                    @foreach (var item in Model.Statuses)
                                    {
                                        if (Model.Status != null)
                                        {
                                            if (Model.Status.Split(',').ToList().Contains(item))
                                            {
                                                <option selected value="@item">@item </option>
                                            }
                                            else
                                            {
                                                <option value="@item">@item </option>

                                            }
                                        }
                                        else
                                        {
                                            <option selected value="@item">@item </option>

                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div style="display:none;" class="col-md-2">
                            <div class="form-group">
                                <div class="input-group input-group-dynamic">

                                    @*<label class="label-control">Is Cancelled?</label>*@
                                    <select style="margin-top:0px;" class="form-control choices__input" name="IsCancelled" id="IsCancelled">
                                        @if (Model.IsCancelled)
                                        {
                                            <option value="False">False </option>
                                            <option selected value="True">True </option>
                                        }
                                        else
                                        {
                                            <option selected value="False">False </option>
                                            <option value="True">True </option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-2">
                            <button style="margin-top:20px;" class="btn btn-sm btn-primary" type="submit" id="SubmitBtn">SUBMIT</button>
                            <button style="margin-top:20px;" class="btn btn-sm btn-primary" type="button" id="ClearFilters">
                                <i style=" width: 0px; display: flex; justify-content: center;" class="material-icons">clear_all</i>
                            </button>
                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-md-12">
            <div class="card-body">
                <h4 class="card-title">
                    Deposit Information
                </h4>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">payments</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Cash</p>
                                    <h4 class="mb-0">@Model.SumOfCashDeposit</h4>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-primary shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">account_balance_wallet</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Online</p>
                                    <h4 class="mb-0"> @Model.SumOfOnlineDeposit</h4>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-info shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">credit_card</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Pin</p>
                                    <h4 class="mb-0">@Model.SumOfPinDeposit</h4>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-secondary shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">attach_money</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Grand Total</p>
                                    <h4 class="mb-0">@(Model.SumOfOnlineDeposit+Model.SumOfPinDeposit+Model.SumOfCashDeposit)</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="card col-md-12">
            <div class="card-body">
                <h4 class="card-title">
                    Service Cost Information
                </h4>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-info shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">payments</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize" style="padding-left:40px;">Total Service Cost</p>
                                    <h4 class="mb-0">@Model.TotalServicePrices</h4>
                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">

                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-warning shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">payments</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize" style="padding-left:40px;"> Offline Discount(s)</p>
                                    <h4 class="mb-0">  @Math.Round(Model.TotalOfflineDiscount, 2)</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-success shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">payments</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize" style="padding-left:40px;"> Price After Discount </p>
                                    <h4 class="mb-0">@Model.TotalPriceAfterOfflineDiscount</h4>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-secondary shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">payments</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize" style="padding-left:40px;">Online Discount(Price Change)</p>
                                    <h4 class="mb-0">@Model.TotalOnlinePriceChange</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">payments</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize" style="padding-left:40px;"> Employee Price Change</p>
                                    <h4 class="mb-0"> @Model.TotalEmployeePriceChange</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-primary shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">payments</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize" style="padding-left:40px;">  Total After Price Change(s)</p>
                                    <h4 class="mb-0">@Model.TotalAfterPriceChange</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="row">
        <div class="card col-md-12">
            <div class="card-body">
                <h4 class="card-title">
                    Earnings
                </h4>
                <div class="row" style="margin-top:20px;">

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-primary shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">payments</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize" style="padding-left:40px;">Total Earned</p>
                                    <h4 class="mb-0">@(Model.TotalAfterPriceChange+ Model.saleProductsAmount)</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-info shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">payments</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize" style="padding-left:40px;">Total Earned from Services</p>
                                    <h4 class="mb-0">@Model.TotalAfterPriceChange</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-warning shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">payments</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize" style="padding-left:40px;">Total Earned from Products</p>
                                    <h6 class="mb-0">@Model.saleProductsAmount</h6>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>
    <div class="row">
        <div class="col-md-6" style="padding:0px;">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        Client's Revenue Trends
                    </h4>
                    <div class="table-responsive p-0" style="max-height:400px;overflow-y:scroll;">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Day</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Earnings</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Clients Visited</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.DayWiseSales != null && Model.NumberOfClientsOnEachDays != null)
                                {
                                    var combinedData = from sale in Model.DayWiseSales
                                                       join clients in Model.NumberOfClientsOnEachDays
                                                       on sale.Date.ToString("yyyy-MM-dd") equals clients.Date
                                                       select new { sale.Date, sale.DaySale, clients.NoOfClients };

                                    foreach (var item in combinedData)
                                    {
                                        <tr class="text-center">
                                            <td>
                                                @item.Date.ToString("yyyy-MM-dd")
                                            </td>
                                            <td>
                                                @item.DaySale
                                            </td>
                                            <td class="">
                                                @item.NoOfClients
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6" style="padding:0px;">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        Popular Services
                    </h4>
                    <div class="table-responsive p-0" style="max-height:400px;overflow-y:scroll;">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Service Name</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.serviceBookingCounts != null)
                                {
                                    foreach (var item in Model.serviceBookingCounts.OrderByDescending(x => x.Value).Take(10))
                                    {
                                        <tr>
                                            <td style="white-space:normal;" class="">
                                                @item.Key
                                            </td>
                                            <td class="">
                                                @item.Value
                                            </td>
                                        </tr>

                                    }
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>





    <div class="row" style=" padding-left: 0px; padding-right: 0px; ">
        <div class="card ">
            <div class="card-body">
                <h4 class="card-title">
                    Client Visitations
                </h4>

                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-info shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">payments</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize" style="padding-left:70px;">Total Appointments</p>
                                    <h6 class="mb-0"> @Model.TotalNoOfAppointments</h6>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-success shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">payments</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize" style="padding-left:40px;">Checkedout Appointments</p>
                                    <h6 class="mb-0">@Model.CheckoutAppointmentsCount</h6>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-secondary shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">payments</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize" style="padding-left:40px;">Pending Appointments</p>
                                    <h6 class="mb-0">@Model.PendingAppointmentsCount</h6>
                                </div>
                            </div>

                        </div>
                    </div>
                    @*<div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="card  mb-2">
                                <div class="card-header p-3 pt-2">
                                    <div class="icon icon-lg icon-shape bg-gradient-danger shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                        <i class="material-icons opacity-10">payments</i>
                                    </div>
                                    <div class="text-end pt-1">
                                        <p class="text-sm mb-0 text-capitalize" style="padding-left:40px;">Cancelled Appointments</p>
                                        <h6 class="mb-0">@Model.CancelledAppointmentCount</h6>
                                    </div>
                                </div>

                            </div>
                        </div>*@
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">payments</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize" style="padding-left:40px;">No Show Appointments</p>
                                    <h6 class="mb-0">@Model.NoShowAppointmentsCount</h6>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>


    

    <div class="row" style=" padding-left: 0px; padding-right: 0px; ">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Payment Methods
                </h4>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">payments</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Cash</p>
                                    <h4 class="mb-0">
                                        @Model.CheckedOutCashCount
                                    </h4>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-primary shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">credit_card</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Card</p>
                                    <h4 class="mb-0"> @Model.CheckedOutPinCount</h4>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="row" style="margin-top:20px;">

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-secondary shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">card_membership</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Loyalty Card</p>
                                    <h4 class="mb-0">@Model.CheckedOutLoyaltyCardCount</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="card  mb-2">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-secondary shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">redeem</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Gift Card</p>
                                    <h4 class="mb-0">@Model.CheckedOutGiftCardCount</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


    <div class="row" style=" padding-left: 0px; padding-right: 0px; ">
        <div class="card ">
            <div class="card-body">
                <h4 class="card-title">
                    Popular Services Category
                </h4>

                <div class="table-responsive p-0" style="max-height:400px;overflow-y:scroll;">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Category Name</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.serviceCategoryBookingCount != null)
                            {
                                foreach (var item in Model.serviceCategoryBookingCount)
                                {
                                    <tr>
                                        <td class="">
                                            @item.Key
                                        </td>
                                        <td class="">
                                            @item.Value
                                        </td>
                                    </tr>

                                }

                            }

                        </tbody>
                    </table>
                </div>


            </div>

        </div>

        <div class="card">
            <div class="card-body card-header-icon" data-background-color="red">
                <i class="material-icons">bar_chart</i>
                <h4 class="card-title">Service Category Bookings</h4>
                <canvas id="chartBar" class="ct-chart"></canvas>
            </div>
        </div>
    </div>



    <div class="row" style=" padding-left: 0px; padding-right: 0px; ">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Rebook Reminders
                </h4>


                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body p-3 position-relative">
                                <div class="row">
                                    <div class="col-7 text-start">
                                        <p class="text-sm mb-1 text-capitalize font-weight-bold">Rebook Email Sent</p>
                                        <h5 class="font-weight-bolder mb-0">
                                            @Model.NoOfRebookReminderSent
                                        </h5>
                                        <span style="white-space:nowrap;" class="text-sm text-end text-success font-weight-bolder mt-auto mb-0">+12% <span class="font-weight-normal text-secondary">since last month</span></span>

                                    </div>
                                    <div class="col-5">
                                        <div class="dropdown text-end">
                                            <span class="text-xs text-secondary">@Model.StartDate.ToString("dd MMM") - @Model.EndDate.ToString("dd MMM")</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body p-3 position-relative">
                                <div class="row">
                                    <div class="col-7 text-start">
                                        <p class="text-sm mb-1 text-capitalize font-weight-bold">Rebook Email Opened</p>
                                        <h5 class="font-weight-bolder mb-0">
                                            @Model.NoOfRebookReminderOpened
                                        </h5>
                                        <span style="white-space:nowrap;" class="text-sm text-end text-success font-weight-bolder mt-auto mb-0">+12% <span class="font-weight-normal text-secondary">since last month</span></span>

                                    </div>
                                    <div class="col-5">
                                        <div class="dropdown text-end">
                                            <span class="text-xs text-secondary">@Model.StartDate.ToString("dd MMM") - @Model.EndDate.ToString("dd MMM")</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body p-3 position-relative">
                                <div class="row">
                                    <div class="col-7 text-start">
                                        <p class="text-sm mb-1 text-capitalize font-weight-bold">Click On Rebook</p>
                                        <h5 class="font-weight-bolder mb-0">
                                            @Model.NoOfRebookReminderClicked
                                        </h5>
                                        <span style="white-space:nowrap;" class="text-sm text-end text-success font-weight-bolder mt-auto mb-0">+12% <span class="font-weight-normal text-secondary">since last month</span></span>

                                    </div>
                                    <div class="col-5">
                                        <div class="dropdown text-end">
                                            <span class="text-xs text-secondary">@Model.StartDate.ToString("dd MMM") - @Model.EndDate.ToString("dd MMM")</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body p-3 position-relative">
                                <div class="row">
                                    <div class="col-7 text-start">
                                        <p class="text-sm mb-1 text-capitalize font-weight-bold">Appointment by Rebook</p>
                                        <h5 class="font-weight-bolder mb-0">
                                            @Model.AppointmentsByRebook
                                        </h5>
                                        <span style="white-space:nowrap;" class="text-sm text-end text-success font-weight-bolder mt-auto mb-0">+12% <span class="font-weight-normal text-secondary">since last month</span></span>

                                    </div>
                                    <div class="col-5">
                                        <div class="dropdown text-end">
                                            <span class="text-xs text-secondary">@Model.StartDate.ToString("dd MMM") - @Model.EndDate.ToString("dd MMM")</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        Rebook Email Sent
                                    </th>
                                    <th class="text-center">
                                        Rebook Email Opened
                                    </th>
                                    <th class="text-center">
                                        Click On Rebook
                                    </th>
                                    <th class="text-center">
                                        Appointment by Rebook
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        @Model.NoOfRebookReminderSent
                                    </td>
                                    <td class="text-center">
                                        @Model.NoOfRebookReminderOpened
                                    </td>
                                    <td class="text-center">
                                        @Model.NoOfRebookReminderClicked
                                    </td>
                                    <td class="text-center">
                                        @Model.AppointmentsByRebook
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>*@
            </div>
        </div>
    </div>

</div>

<script>

    var labels = [];
    var data = [];

    @if (Model.serviceCategoryBookingCount != null)
    {
        foreach (var item in Model.serviceCategoryBookingCount)
        {
            @:labels.push("@item.Key");
            @:data.push(@item.Value);
        }
    }

    // Create the bar chart
    var ctx = document.getElementById('chartBar').getContext('2d');
    var backgroundColors = [
        'rgba(255, 99, 132, 1)',   // Red
        'rgba(54, 162, 235, 1)',   // Blue
        'rgba(255, 206, 86, 1)',   // Yellow
        'rgba(75, 192, 192, 1)',   // Teal
        'rgba(153, 102, 255, 1)',  // Purple
        'rgba(255, 159, 64, 1)',   // Orange
        'rgba(46, 204, 113, 1)',   // Green
        'rgba(231, 76, 60, 1)',    // Dark Red
        'rgba(52, 152, 219, 1)',   // Sky Blue
        'rgba(241, 196, 15, 1)'    // Gold
    ];
    var chartBar = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Bookings',
                data: data,
                backgroundColor: backgroundColors.slice(0, data.length), // Use solid colors for bars
                borderColor: backgroundColors.slice(0, data.length), // Same color for the border
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                x: {
                    display: false // Hide the x-axis labels
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    $(document).ready(function () {
        //updateSubmitButtonState();



        //$("#SelectedStatuses, #SelectedEmployeeIds").change(function () {
        //    updateSubmitButtonState();
        //});

        //function updateSubmitButtonState() {
        //    var employeeIdsSelected = $("#SelectedEmployeeIds option:selected").length > 0;
        //    var statusesSelected = $("#SelectedStatuses option:selected").length > 0;

        //    if (employeeIdsSelected && statusesSelected) {
        //        // At least one option is selected for both fields
        //        $("#SubmitBtn").removeAttr("disabled");
        //        $("#errorText").val('');
        //    } else {
        //        // No option is selected for either field
        //        $("#SubmitBtn").attr("disabled", "disabled");
        //        if (!employeeIdsSelected) {
        //            $("#errorText").val('Kindly select at least one employee');
        //        } else {
        //            $("#errorText").val('Kindly select at least one status');
        //        }
        //    }
        //}
    });
    $('#SelectedEmployeeIDsGR').on('click', function (event) {
        const target = $(event.target); // Get the clicked element

        // Check if the clicked element is the dropdown button
        if (target.is('.btn[data-id="SelectedEmployeeIDs"]') || target.parents('.btn[data-id="SelectedEmployeeIDs"]').length) {
            // Toggle the dropdown menu visibility
            target.closest('.btn-group').find('.dropdown-menu').toggleClass('dropdown-menu-show');
        } else {
            // If clicked outside, hide the dropdown menu
            $('.dropdown-menu-show').removeClass('dropdown-menu-show');
        }

        event.stopPropagation(); // Stop the click event from propagating to avoid unintended behaviors
    });


    $('#SelectedStatusGR').on('click', function (event) {
        const target = $(event.target); // Get the clicked element

        // Check if the clicked element is the dropdown button
        if (target.is('.btn[data-id="SelectedStatuses"]') || target.parents('.btn[data-id="SelectedStatuses"]').length) {
            // Toggle the dropdown menu visibility
            target.closest('.btn-group').find('.dropdown-menu').toggleClass('dropdown-menu-show');
        } else {
            // If clicked outside, hide the dropdown menu
            $('.dropdown-menu-show').removeClass('dropdown-menu-show');
        }

        event.stopPropagation(); // Stop the click event from propagating to avoid unintended behaviors
    });

    // Hide the dropdown menu when clicking outside
    $(document).on('click', function () {
        $('.dropdown-menu-show').removeClass('dropdown-menu-show');
    });
   



    document.getElementById('downloadExcel').addEventListener('click', function () {
        // Get the table element
        var table = document.getElementById('lostCustomerTable');

        // Prepare SheetJS workbook
        var wb = XLSX.utils.table_to_book(table, { sheet: "LostCustomers" });

        // Generate binary excel file
        var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });

        // Convert the binary string to an array buffer
        function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i < s.length; i++) {
                view[i] = s.charCodeAt(i) & 0xFF;
            }
            return buf;
        }

        // Create a blob from the array buffer and trigger download
        var blob = new Blob([s2ab(wbout)], { type: "application/octet-stream" });
        var link = document.createElement('a');
        link.href = URL.createObjectURL(blob);
        link.download = 'LostCustomers.xlsx';
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    });
    $("#SelectedStatuses").change(function () {
        if ($("#SelectedStatuses option:selected").length > 0) {
            // At least one option is selected
            $("#SubmitBtn").removeAttr("disabled");
            $("#errorText").val('');

        } else {
            // No option is selected
            $("#SubmitBtn").attr("disabled", "disabled")
            $("#errorText").val('Kindly Select atleast one status');

        }
    });

    $("#SelectedEmployeeIds").change(function () {
        if ($("#SelectedEmployeeIds option:selected").length > 0) {
            // At least one option is selected
            $("#SubmitBtn").removeAttr("disabled")
            $("#errorText").val('');

        } else {
            // No option is selected
            $("#SubmitBtn").attr("disabled", "disabled")
            $("#errorText").val('Kindly Select atleast one employee');

        }
    });
    $("#ClearFilters").click(function () {

        $('#StartDate').val('@DateTime.Now.ToString("yyyy-MM-dd")');
        $('#EndDate').val('@DateTime.Now.ToString("yyyy-MM-dd")');

        // Clear Selected Employees dropdown

        // Set IsCancelled dropdown to its default value

    });

</script>