@model TheBookingPlatform.ViewModels.NInvoiceActionViewModel
@{
    ViewBag.Title = "Action";
}


<style>

    .form-group .checkbox label, .form-group .radio label, .form-group label, .form-group .label-on-left, .form-group .label-on-right {
        font-size: 14px;
        line-height: 1.428571429;
        color: black;
        font-weight: 400;
    }

    .checkbox label {
        cursor: pointer;
        padding-left: 0;
        color: black;
    }
  
</style>
<form id="actionForm">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                @if (Model.ID != 0)
                {
                    <h4 class="card-title">
                        Edit Invoice
                    </h4>
                }
                else
                {
                    <h4 class="card-title">
                        Create Invoice
                    </h4>
                }
            </div>


            <div class="card shadow-lg p-4 mb-4 bg-white rounded">
                <div class="card-content">
                    <div class="row">
                        <!-- Customer Information -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Customer Name</label>
                                <input type="text" class="form-control" name="CustomerName" value="@Model.CustomerName" placeholder="Enter customer name" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Customer Email</label>
                                <input type="email" class="form-control" name="CustomerEmail" value="@Model.CustomerEmail" placeholder="Enter customer email" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Customer Phone</label>
                                <input type="text" class="form-control" name="CustomerPhone" value="@Model.CustomerPhone" placeholder="Enter customer phone" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Customer Address</label>
                                <input type="text" class="form-control" name="CustomerAddress" value="@Model.CustomerAddress" placeholder="Enter customer address" />
                            </div>
                        </div>

                        <!-- Company Information -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Company Logo</label>
                                <br />
                                @if (Model.CompanyLogo == "" || Model.CompanyLogo == null)
                                {
                                    <img id="MainThumb" style="width:150px;cursor:pointer;" src="/Content/MainTemplate/assets/img/placeholder.jpg" alt="...">
                                }
                                else
                                {
                                    <img id="MainThumb" style="width:150px;cursor:pointer;" src="@Model.CompanyLogo" alt="...">

                                }

                                <input value="@Model.CompanyLogo" type="hidden" name="CompanyLogo" id="CompanyLogo" />
                                <input style=" width: 150px; " type="file" id="CompanyLogoUpload" accept="image/*" />


                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Company Name</label>
                                <input type="text" class="form-control" name="CompanyName" value="@Model.CompanyName" placeholder="Enter company name" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Company Email</label>
                                <input type="email" class="form-control" name="CompanyEmail" value="@Model.CompanyEmail" placeholder="Enter company email" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Company Phone</label>
                                <input type="text" class="form-control" name="CompanyPhone" value="@Model.CompanyPhone" placeholder="Enter company phone" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Company Address</label>
                                <input type="text" class="form-control" name="CompanyAddress" value="@Model.CompanyAddress" placeholder="Enter company address" />
                            </div>
                        </div>

                        <!-- Date and Invoice Details -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Issue Date</label>
                                @if (Model.ID != 0)
                                {
                                    <input type="date" class="form-control" name="IssueDate" id="IssueDate" value="@Model.IssueDate.ToString("yyyy-MM-dd")" />

                                }
                                else
                                {
                                    <input type="date" class="form-control" name="IssueDate" id="IssueDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />

                                }
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Due Date</label>
                                @if (Model.ID != 0)
                                {
                                    <input type="date" class="form-control" name="DueDate" id="DueDate" value="@Model.DueDate.ToString("yyyy-MM-dd")" />

                                }
                                else
                                {
                                    <input type="date" class="form-control" name="DueDate" id="DueDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />

                                }
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Invoice No</label>
                                <input type="text" class="form-control" readonly value="@Model.InvoiceNo" name="InvoiceNo" id="InvoiceNo" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Remarks</label>
                                <input type="text" class="form-control"  value="@Model.Remarks" name="Remarks" id="Remarks" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Payment Method</label>
                                <input type="text" class="form-control"  value="Transfer" name="PaymentMethod" id="PaymentMethod" />
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label>VAT</label>
                                <select class="form-control" name="VAT" id="VAT">
                                    @foreach (var item in Model.Vats)
                                    {
                                        <option value="@item.ID" @(Model.VAT == item.ID ? "selected" : "")>@item.Name (@item.Percentage)</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Item Details -->
                    <input type="hidden" value="@Model.ItemDetails" id="ItemDetails" name="ItemDetails" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered mt-4">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Description</th>
                                            <th>Quantity</th>
                                            <th>Unit Price</th>
                                            <th>Amount</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ServiceTable">
                                        @if (Model.Items != null)
                                        {
                                            foreach (var item in Model.Items)
                                            {
                                                <tr class="productRow">
                                                    <td><input value="@item.Service" type="text" class="form-control description" /></td>
                                                    <td><input value="@item.Duration" type="number" class="form-control quantity" /></td>
                                                    <td><input value="@item.Price" type="number" class="form-control unitPrice" /></td>
                                                    <td><input value="@item.Amount" type="number" class="form-control Amount" readonly /></td>
                                                    <td><button class="btn btn-danger btn-sm removeRowBtn" type="button"><i class="fa fa-trash"></i></button></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                <button class="btn btn-sm btn-info addRowBtn" type="button"><i class="fa fa-plus"></i> Add Row</button>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>


            <div class="col-md-12">
                @if (Model.ID == 0)
                {


                    <button id="ActionBtn" type="button" class="btn btn-primary btn-rounded">SAVE</button>
                }
                else
                {
                    <button id="ActionBtn" type="button" class="btn btn-secondary btn-rounded">UPDATE</button>

                }
                <button type="button" onclick="window.location.href='@Url.Action("Index","NInvoice")'" class="btn btn-secondary  btn-rounded">CLOSE</button>
            </div>
        </div>
    </div>
</form>
<div class="modal fade center" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>



<script>



    $(document).ready(function () {


        $("#CompanyLogoUpload").change(function () {

            showLoadingSpinner();
            var element = this;
            var formData = new FormData();
            var totalFiles = element.files.length;

            for (var i = 0; i < totalFiles; i++) {
                var file = element.files[i];
                formData.append("Logo", file);
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("UploadImage", "Shared")',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false
            })
                .done(function (response) {

                    if (response.Success) {
                        // For now, we'll just delay the fade out for demonstration
                        hideLoadingSpinner();
                        $("#CompanyLogo").val(response.DocURL);
                        $("#MainThumb").attr("src", response.DocURL);
                    }

                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("FAIL");
                    hideLoadingSpinner();

                })
        });

        function getTableValues() {
            var allRowsData = [];

            $('#ServiceTable .productRow').each(function () {
                var description = $(this).find('.description').val();
                var quantity = $(this).find('.quantity').val();
                var unitPrice = $(this).find('.unitPrice').val();
                var amount = $(this).find('.Amount').val();

                var rowData = description + '_' + quantity + '_' + unitPrice + '_' + amount;
                allRowsData.push(rowData);
            });
            var resultString = allRowsData.join(',');
            return resultString;
        }

        $('#ServiceTable').on("change", ".description, .quantity, .unitPrice, .Amount", function () {
            $("#ItemDetails").val(getTableValues());
            var row = $(this).closest('.productRow');
            calculateAmount(row);
            checkAmounts();

        });

        function calculateAmount(row) {
            var quantity = parseFloat(row.find('.quantity').val()) || 0;
            var unitPrice = parseFloat(row.find('.unitPrice').val()) || 0;
            var amount = quantity * unitPrice;

            // Update the Amount field with the calculated amount
            row.find('.Amount').val(amount.toFixed(2));
        }
        $('.addRowBtn').on('click', function () {
            var newRow = `<tr class="productRow">
                        <td><input type="text" class="form-control description" /></td>
                        <td><input type="number" class="form-control quantity" /></td>
                        <td><input type="number" class="form-control unitPrice" /></td>
                        <td><input type="number" class="form-control Amount" /></td>
                        <td><button class="btn btn-danger btn-sm removeRowBtn" type="button"><i class="fa fa-trash"></i></button></td>
                      </tr>`;
            $('#ServiceTable').append(newRow);

        });
        // Function to remove a specific row
        $(document).on('click', '.removeRowBtn', function () {
            $(this).closest('tr').remove();
        });

        function checkAmounts() {
            var allValid = true;

            $('.productRow').each(function () {
                var amount = parseFloat($(this).find('.Amount').val()) || 0;

                if (amount <= 0) {
                    allValid = false;
                    return false; // Exit the loop if any invalid amount is found
                }
            });

            if (allValid) {
                $('#ActionBtn').prop('disabled', false); // Enable the save button
            } else {
                $('#ActionBtn').prop('disabled', true);  // Disable the save button
            }
        }



        $("#ActionBtn").click(function () {


            showLoadingSpinner();
            $.ajax({
                url: '@Url.Action("Action", "NInvoice")',
                type: "post",
                data: $("#actionForm").serialize()
            })
                .done(function (response) {

                    if (response.success) {
                        hideLoadingSpinner();
                        window.location.href = '@Url.Action("Index", "NInvoice")';
                    }
                    else {
                        hideLoadingSpinner();
                        alert(response.Message);
                    }
                });
        });
    });
</script>