@model TheBookingPlatform.ViewModels.AppointmentDetailsViewModel
@{
    ViewBag.Title = "_DetailsPartial";
    float TotalOfServicesMinusDiscount = Model.Services.Sum(x => x.Price * (1 - x.Discount / 100)) - Model.Appointment.Deposit;
    if (Model.PriceChange != null)
    {
        if (Model.PriceChange.TypeOfChange == "Discount")
        {
            TotalOfServicesMinusDiscount -= TotalOfServicesMinusDiscount * (Model.PriceChange.Percentage / 100);
        }
        else
        {
            TotalOfServicesMinusDiscount += TotalOfServicesMinusDiscount * (Model.PriceChange.Percentage / 100);

        }
    }
}

<style>
    .card {
        display: inline-block;
        position: relative;
        width: 100%;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        border-radius: 6px;
        color: rgba(0,0,0, 0.87);
        background: #fff;
        margin-bottom: 0px;
    }
    .timeline-one-side .timeline-step {
        left: 1rem;
        z-index: 0;
    }
    label {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .tab-pane .table tbody > tr > td:first-child {
        width: 200px;
    }

    .nav.nav-pills .nav-link.active {
        background: white;
        animation: 0.2s ease;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 5px 8px;
        vertical-align: middle;
    }
</style>
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Customer Details</h2>

        <div class="nav-wrapper position-relative end-0 mb-2">
           
            <ul class="nav nav-pills nav-fill p-1" role="tablist">

                <li class="nav-item ">
                    <a href="#pill1" data-bs-toggle="tab" class="nav-link mb-0 px-0 py-1 active" role="tab" aria-controls="profile" aria-selected="true">
                        Customer
                    </a>

                <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#pill2" role="tab" aria-controls="dashboard" aria-selected="false">
                        Appointments
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#pill3" role="tab" aria-controls="dashboard" aria-selected="false">
                        History
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#pill4" role="tab" aria-controls="dashboard" aria-selected="false">
                        Statistics
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#pill5" role="tab" aria-controls="dashboard" aria-selected="false">
                        Sent Messages
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#pill6" role="tab" aria-controls="dashboard" aria-selected="false">
                        Loyalty
                    </a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#pill7" role="tab" aria-controls="dashboard" aria-selected="false">
                        Files
                    </a>
                </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="pill1">
                    @if (Model.Customer == null)
                    {
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-group input-group-dynamic">
                                        <label>
                                            Customer Name
                                        </label>
                                        <input type="text" class="form-control" name="Customer" value="Walk In" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group input-group-dynamic">

                                        <label>
                                            Customer Name
                                        </label>
                                        <input type="text" class="form-control" name="Customer" value="@Model.Customer.FirstName @Model.Customer.LastName" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group input-group-dynamic">

                                        <label>
                                            Customer Email
                                        </label>
                                        <input type="text" class="form-control" name="Email" value="@Model.Customer.Email" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group input-group-dynamic">

                                        <label>
                                            Customer Mobile Number
                                        </label>
                                        <input type="text" class="form-control" name="MobileNumber" value="@Model.Customer.MobileNumber" />
                                    </div>
                                    </div>
                                </div>

                        </div>


                    }
                </div>
                <div class="tab-pane" id="pill2">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        Employee
                                    </th>
                                    <th class="text-center">
                                        Service
                                    </th>
                                    <th class="text-center">
                                        Date
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.TotalAppointmentsCustomer)
                                {
                                    <tr>
                                        <td class="text-center">@item.EmployeeName</td>
                                        <td class="text-center">
                                            <table style="border: none; background-color: transparent;  " class="table table-borderless">
                                                @foreach (var listofservice in item.Services)
                                                {
                                                    <tr>
                                                        @if (listofservice.Discount == 0)
                                                        {
                                                            <td>- @listofservice.Name - @listofservice.Duration - @listofservice.Price  </td>
                                                        }
                                                        else
                                                        {
                                                            <td>- @listofservice.Name - @listofservice.Duration - @listofservice.Price (Discount: @listofservice.Discount %) </td>
                                                        }
                                                    </tr>
                                                }
                                            </table>

                                        </td>
                                        <td class="text-center">@item.Date.ToString("yyyy-MM-dd") @item.Time.ToString("H:mm") - @item.AppointmentEndTime.ToString("H:mm")</td>
                                        <td>
                                            @if (item.Status == "Paid")
                                            {


                                                <button onclick="window.location.href='@Url.Action("Invoice", "Appointment", new {ID = item.ID})'" class="btn btn-primary btn-round btn-sm" type="button">VIEW  </button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-primary btn-round btn-sm" onclick="window.location.href='@Url.Action("Action", "Appointment", new {ID=item.ID})'" type="button">EDIT APPOINTMENT</button>

                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    </div>
                <div class="tab-pane" id="pill3">
                    <div class="row">
                        <!-- First Column -->
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body p-3">
                                    <div class="timeline timeline-one-side" data-timeline-axis-style="dotted">
                                        @if (Model.Histories != null)
                                        {
                                            foreach (var item in Model.Histories.Take(10)) // First 10 steps
                                            {
                                                string Name = item.Name;
                                                string Date = item.Date.ToString("yyyy-MM-dd HH:mm");
                                                string Note = item.Note;
                                                string Icon = "";
                                                string Class = "";

                                                switch (item.Name)
                                                {
                                                    case "Moved":
                                                        Icon = "redo";
                                                        Class = "bg-secondary";
                                                        break;

                                                    case "Cancelled":
                                                        Icon = "cancel";
                                                        Class = "bg-danger";
                                                        break;

                                                    case "Waiting List Created":
                                                        Icon = "hourglass_empty";
                                                        Class = "bg-info";
                                                        break;

                                                    case "Updated":
                                                        Icon = "update";
                                                        Class = "bg-success";
                                                        break;

                                                    case "Offline Appointment Created":
                                                        Icon = "calendar_today";
                                                        Class = "bg-success";
                                                        break;

                                                    case "Appointment Updated":
                                                        Icon = "event_note";
                                                        Class = "bg-success";
                                                        break;

                                                    case "Appointment Deleted":
                                                        Icon = "delete";
                                                        Class = "bg-danger";
                                                        break;

                                                    case "No Show":
                                                        Icon = "visibility_off";
                                                        Class = "bg-warning";
                                                        break;

                                                    case "Restored":
                                                        Icon = "restore";
                                                        Class = "bg-success";
                                                        break;

                                                    case "Online Appointment Created":
                                                        Icon = "computer";
                                                        Class = "bg-primary";
                                                        break;

                                                    case "Appointment Paid":
                                                        Icon = "payment";
                                                        Class = "bg-success";
                                                        break;

                                                    case "Loyalty Card Cash Back":
                                                        Icon = "card_giftcard";
                                                        Class = "bg-warning";
                                                        break;

                                                    case "Gift Card Used":
                                                        Icon = "redeem";
                                                        Class = "bg-info";
                                                        break;

                                                    default:
                                                        Icon = "notifications";
                                                        Class = "bg-dark";
                                                        break;
                                                }

                                                <div class="timeline-block mb-3">
                                                    <span class="timeline-step @Class p-3">
                                                        <i class="material-icons text-white text-sm opacity-10">
                                                            @Icon
                                                        </i>
                                                    </span>
                                                    <div class="timeline-content pt-1">
                                                        <h6 class="text-dark text-sm font-weight-bold mb-0">@Name</h6>
                                                        <p class="text-secondary text-xs mt-1 mb-0">@Date</p>
                                                        <p class="text-sm text-dark mt-3 mb-2">
                                                            @Note
                                                        </p>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Second Column -->
                        @if (Model.Histories != null)
                        {
                            if (Model.Histories.Skip(10).Take(10).Count() != 0)
                            {
                                <div class="col-lg-4">
                                    <div class="card">
                                        <div class="card-body p-3">
                                            <div class="timeline timeline-one-side" data-timeline-axis-style="dotted">

                                                @foreach (var item in Model.Histories.Skip(10).Take(10)) // Next 10 steps
                                                {
                                                    string Name = item.Name;
                                                    string Date = item.Date.ToString("yyyy-MM-dd HH:mm");
                                                    string Note = item.Note;
                                                    string Icon = "";
                                                    string Class = "";

                                                    switch (item.Name)
                                                    {
                                                        case "Moved":
                                                            Icon = "redo";
                                                            Class = "bg-secondary";
                                                            break;

                                                        case "Cancelled":
                                                            Icon = "cancel";
                                                            Class = "bg-danger";
                                                            break;

                                                        case "Waiting List Created":
                                                            Icon = "hourglass_empty";
                                                            Class = "bg-info";
                                                            break;

                                                        case "Updated":
                                                            Icon = "update";
                                                            Class = "bg-success";
                                                            break;

                                                        case "Offline Appointment Created":
                                                            Icon = "calendar_today";
                                                            Class = "bg-success";
                                                            break;

                                                        case "Appointment Updated":
                                                            Icon = "event_note";
                                                            Class = "bg-success";
                                                            break;


                                                        case "Appointment Refunded":
                                                            Icon = "account_balance_wallet";
                                                            Class = "bg-success";
                                                            break;

                                                        case "Appointment Deleted":
                                                            Icon = "delete";
                                                            Class = "bg-danger";
                                                            break;

                                                        case "No Show":
                                                            Icon = "visibility_off";
                                                            Class = "bg-warning";
                                                            break;

                                                        case "Restored":
                                                            Icon = "restore";
                                                            Class = "bg-success";
                                                            break;

                                                        case "Online Appointment Created":
                                                            Icon = "computer";
                                                            Class = "bg-primary";
                                                            break;

                                                        case "Appointment Paid":
                                                            Icon = "payment";
                                                            Class = "bg-success";
                                                            break;

                                                        case "Loyalty Card Cash Back":
                                                            Icon = "card_giftcard";
                                                            Class = "bg-warning";
                                                            break;

                                                        case "Gift Card Used":
                                                            Icon = "redeem";
                                                            Class = "bg-info";
                                                            break;

                                                        default:
                                                            Icon = "notifications";
                                                            Class = "bg-dark";
                                                            break;
                                                    }

                                                    <div class="timeline-block mb-3">
                                                        <span class="timeline-step @Class p-3">
                                                            <i class="material-icons text-white text-sm opacity-10">
                                                                @Icon
                                                            </i>
                                                        </span>
                                                        <div class="timeline-content pt-1">
                                                            <h6 class="text-dark text-sm font-weight-bold mb-0">@Name</h6>
                                                            <p class="text-secondary text-xs mt-1 mb-0">@Date</p>
                                                            <p class="text-sm text-dark mt-3 mb-2">
                                                                @Note
                                                            </p>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            if (Model.Histories.Skip(20).Count() != 0)
                            {
                                <div class="col-lg-4">
                                    <div class="card">
                                        <div class="card-body p-3">
                                            <div class="timeline timeline-one-side" data-timeline-axis-style="dotted">

                                                @foreach (var item in Model.Histories.Skip(20)) // Next 10 steps
                                                {
                                                    string Name = item.Name;
                                                    string Date = item.Date.ToString("yyyy-MM-dd HH:mm");
                                                    string Note = item.Note;
                                                    string Icon = "";
                                                    string Class = "";

                                                    switch (item.Name)
                                                    {
                                                        case "Moved":
                                                            Icon = "redo";
                                                            Class = "bg-secondary";
                                                            break;

                                                        case "Cancelled":
                                                            Icon = "cancel";
                                                            Class = "bg-danger";
                                                            break;

                                                        case "Waiting List Created":
                                                            Icon = "hourglass_empty";
                                                            Class = "bg-info";
                                                            break;

                                                        case "Updated":
                                                            Icon = "update";
                                                            Class = "bg-success";
                                                            break;

                                                        case "Offline Appointment Created":
                                                            Icon = "calendar_today";
                                                            Class = "bg-success";
                                                            break;

                                                        case "Appointment Updated":
                                                            Icon = "event_note";
                                                            Class = "bg-success";
                                                            break;

                                                        case "Appointment Deleted":
                                                            Icon = "delete";
                                                            Class = "bg-danger";
                                                            break;

                                                        case "No Show":
                                                            Icon = "visibility_off";
                                                            Class = "bg-warning";
                                                            break;

                                                        case "Restored":
                                                            Icon = "restore";
                                                            Class = "bg-success";
                                                            break;

                                                        case "Online Appointment Created":
                                                            Icon = "computer";
                                                            Class = "bg-primary";
                                                            break;

                                                        case "Appointment Paid":
                                                            Icon = "payment";
                                                            Class = "bg-success";
                                                            break;

                                                        case "Loyalty Card Cash Back":
                                                            Icon = "card_giftcard";
                                                            Class = "bg-warning";
                                                            break;

                                                        case "Gift Card Used":
                                                            Icon = "redeem";
                                                            Class = "bg-info";
                                                            break;

                                                        default:
                                                            Icon = "notifications";
                                                            Class = "bg-dark";
                                                            break;
                                                    }

                                                    <div class="timeline-block mb-3">
                                                        <span class="timeline-step @Class p-3">
                                                            <i class="material-icons text-white text-sm opacity-10">
                                                                @Icon
                                                            </i>
                                                        </span>
                                                        <div class="timeline-content pt-1">
                                                            <h6 class="text-dark text-sm font-weight-bold mb-0">@Name</h6>
                                                            <p class="text-secondary text-xs mt-1 mb-0">@Date</p>
                                                            <p class="text-sm text-dark mt-3 mb-2">
                                                               ID: @item.AppointmentID -  @Note
                                                            </p>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        </div>

                </div>
                <div class="tab-pane" id="pill4">
                    <h4>Coming Soon</h4>

                </div>
                <div class="tab-pane" id="pill5">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Subject
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Channel
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Messages != null)
                            {
                                foreach (var item in Model.Messages)
                                {
                                    <tr>
                                        <td>@item.Date</td>
                                        <td>@item.Type</td>
                                        <td>@item.Subject</td>
                                        <td>@item.Status</td>
                                        <td>@item.Channel</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div>
                <div class="tab-pane" id="pill6">
                    <h4>Loyalty Card Assigned</h4>

                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    Card Name
                                </th>
                                <th class="text-center">
                                    Customer Name
                                </th>
                                <th class="text-center">
                                    Mobile Number
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.LoyaltyCardAssignments != null)
                            {
                                foreach (var item in Model.LoyaltyCardAssignments)
                                {
                                    <tr>
                                        <td class="text-center">@item.LoyaltyCardName</td>
                                        <td class="text-center">@item.Customer.FirstName @item.Customer.LastName</td>
                                        <td class="text-center">@item.Customer.MobileNumber</td>

                                    </tr>
                                }
                            }

                        </tbody>
                    </table>


                    <hr />

                    <h4>Loyalty Card History</h4>
                    <table class="table">

                        <tbody>
                            @if (Model.LoyaltyCardHistories != null)
                            {
                                foreach (var item in Model.LoyaltyCardHistories)
                                {
                                    <tr>
                                        <td class="text-center">◉ @item.Note  - @item.Date.ToString("yyyy-MM-dd")</td>

                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="pill7">
                    <div class="col-md-12">
                        @if (Model.Customer != null)
                        {
                            <button data-href="@Url.Action("UploadFile", "Appointment", new { CustomerID = Model.Customer.ID })" type="button" class="data-btn btn btn-sm btn-rounded btn-danger btn-icon-text" data-bs-toggle="modal" data-bs-target="#actionModal">UPLOAD NEW</button>
                        }
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    File
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Size
                                </th>
                                <th>
                                    Uploaded By
                                </th>
                                <th>
                                    Date and Time
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Files != null)
                            {
                                foreach (var item in Model.Files)
                                {
                                    <tr>
                                        <td><a class="btn btn-primary btn-sm btn-round" target="_blank" href="@item.URL">OPEN</a></td>
                                        <td>@item.Name</td>
                                        <td>@item.Size</td>
                                        <td>@item.UploadedBy</td>
                                        <td>@item.DateTime</td>
                                        <td>
                                            <button data-href="@Url.Action("UploadFile", "Appointment", new { CustomerID = item.CustomerID, ID = item.ID })" type="button" class="data-btn  btn btn-sm btn-info btn-icon-text" data-bs-toggle="modal" data-bs-target="#actionModal"><i class="mdi mdi-pencil"></i> EDIT</button>
                                            <button data-href="@Url.Action("DeleteFile", "Appointment", new { ID = item.ID })" type="button" class="data-btn btn btn-danger btn-sm btn-icon-text" data-bs-toggle="modal" data-bs-target="#actionModal"><i class="mdi mdi-delete"></i>DELETE</button>

                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        
        
    </div>
</div>





<div class="card my-3">
    <div class="card-body">
        <h2  class="card-title">
            Service Details
        </h2>
        <div class="row">
            <div class="table-responsive col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">
                                Service
                            </th>

                            <th class="text-center">
                                Discount
                            </th>
                            <th class="text-center">
                                Duration
                            </th>
                            <th class="text-center">
                                Price
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Services)
                        {
                            <tr>
                                <td class="text-center">
                                    @item.Service
                                </td>

                                <td class="text-center">
                                    @item.Discount %
                                </td>
                                <td class="text-center">
                                    @item.Duration
                                </td>
                                <td class="text-center">
                                    @Model.Company.Currency @item.Price
                                </td>
                            </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>

                            @if (Model.PriceChange != null)
                            {
                                if (Model.PriceChange.TypeOfChange == "Discount")
                                {
                                    <td style=" font-weight: 500; display: flex; justify-content: center;">
                                        Deposit : @Model.Company.Currency @Model.Appointment.Deposit ||

                                        Price Change :  - @Model.PriceChange.Percentage % ||

                                        Grand Total : @Model.Company.Currency @TotalOfServicesMinusDiscount
                                    </td>
                                }
                                else
                                {
                                    <td style=" font-weight: 500; display: flex; justify-content: center;">
                                        Deposit : @Model.Company.Currency @Model.Appointment.Deposit ||

                                        Price Change :  + @Model.PriceChange.Percentage % ||

                                        Grand Total : @Model.Company.Currency @TotalOfServicesMinusDiscount
                                    </td>
                                }
                            }
                            else
                            {
                                <td style=" font-weight: 500; display: flex; justify-content: center;">
                                    Deposit : @Model.Company.Currency @Model.Appointment.Deposit ||

                                    Grand Total : @Model.Company.Currency @TotalOfServicesMinusDiscount ||
                                </td>
                            }

                        </tr>
                    </tfoot>
                </table>
            </div>


        </div>




    </div>
</div>


<div class="card my-3">
    <div class="card-body">
        <h2 class="card-title">
            Appointment Actions
        </h2>
        @if (Model.Services.Any(x => x.Service == "Break"))
        {

            <button type="button" onclick="window.location.href='@Url.Action("Action", "Appointment", new { ID = Model.Appointment.ID })'" class="btn btn-round btn-info">EDIT APPOINTMENT</button>
            <button title="Delete" data-href="@Url.Action("DeleteNew", "Appointment", new { ID = Model.Appointment.ID })" type="button" class="data-btn btn  btn-round btn-danger btn-icon-text" data-bs-toggle="modal" data-bs-target="#actionModal"><i class="material-icons">delete</i>DELETE APPOINTMENT</button>
        }
        else
        {
            if (Model.Appointment.Status != "Paid")
            {
                <button onclick="GoToCheckOutPage()" class="btn btn-success btn-round">PROCEED TO CHECKOUT</button>
                if (Model.Appointment.Status == "No Show")
                {
                    <button onclick="UnMarkAsNoShow('@Model.Appointment.ID')" class="btn btn-info btn-round">UN-MARK AS NO SHOW</button>

                }
                else
                {
                    <button onclick="MarkAsNoShow('@Model.Appointment.ID')" class="btn btn-warning btn-round">MARK AS NO SHOW</button>

                }
            }
            <button type="button" onclick="window.location.href='@Url.Action("Action", "Appointment", new { ID = Model.Appointment.ID })'" class="btn btn-round btn-info">EDIT APPOINTMENT</button>
            <button title="Delete" data-href="@Url.Action("DeleteNew", "Appointment", new { ID = Model.Appointment.ID })" type="button" class="data-btn btn  btn-round btn-danger btn-icon-text" data-bs-toggle="modal" data-bs-target="#actionModal"><i class="material-icons">delete</i>DELETE APPOINTMENT</button>
            if (Model.Appointment.CustomerID != 0)
            {
                <button type="button" class="btn btn-secondary btn-round" onclick="window.location.href='@Url.Action("Issue", "LoyaltyCard", new { CustomerID = Model.Appointment.CustomerID })'">ISSUE LOYALTY CARD</button>
            }
        }
    </div>
</div>
<div class="modal  fade center" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>

<script>

    function MarkAsNoShow(ID) {
        // Show a confirmation dialog using SweetAlert
        showLoadingSpinner();
        $.ajax({
            url: '@Url.Action("MakeAsNoShow", "Appointment")',
            type: "post",
            data: { ID: ID }
        })
            .done(function (response) {
                if (response.success) {
                    alert("Marked as no show");
                    location.reload();
                } else {
                    $(".errorDiv").html(response.Message);
                    hideLoadingSpinner();
                }
            });
    }

    function UnMarkAsNoShow(ID) {
        // Show a confirmation dialog using SweetAlert
        showLoadingSpinner();
        $.ajax({
            url: '@Url.Action("UnMakeAsNoShow", "Appointment")',
            type: "post",
            data: { ID: ID }
        })
            .done(function (response) {
                if (response.success) {
                    alert("Un Marked as no show");
                    location.reload();
                } else {
                    $(".errorDiv").html(response.Message);
                    hideLoadingSpinner();
                }
            });
    }


    $(".data-btn").click(function () {
        showLoadingSpinner();
        var dataHref = $(this).data("href");
        $.ajax({
            url: dataHref,
        })
            .done(function (response) {
                hideLoadingSpinner();
                $("#actionModal .modal-dialog").html(response);
            });
    });
</script>