@model TheBookingPlatform.ViewModels.AppointmentListingViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        @if (Model.Appointments != null)
        {
            <div class="card">

                <div class="table-responsive">
                    <table id="datatables" class="table table-striped">
                        <thead>
                            <tr>

                                <th class="text-center">
                                    Color
                                </th>
                                <th class="text-center">
                                    Customer
                                </th>
                              
                                <th class="text-center">
                                    Service
                                </th>
                                <th class="text-center">
                                    Start Date - Time
                                </th>

                                <th class="text-center">
                                    End Date - Time
                                </th>
                                <th class="text-center">
                                    Business
                                </th>


                                <th class="text-center">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Appointments)
                            {
                                <tr>
                                    <td class="text-center">
                                        <div style="height: 30px; width: 30px; display: inline-flex;border-radius:20px;background-color: @item.Color" class="circle">

                                        </div>
                                    </td>
                                    <td class="text-center">

                                        <span>  @item.CustomerFirstName @item.CustomerLastName</span>


                                    </td>
                                  
                                    <td class="text-center">
                                        <select class="form-control text-center">

                                            @foreach (var service in item.Services)
                                            {
                                                <option value="@service.Name">@service.Name - @service.Duration</option>
                                            }
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        @item.StartDate.ToString("yyyy-MM-dd") @item.StartTime.ToString("HH:mm")
                                    </td>
                                    <td class="text-center">
                                        @item.StartDate.ToString("yyyy-MM-dd") @item.EndTime.ToString("HH:mm")
                                    </td>
                                    <td class="text-center">
                                        @item.Business
                                    </td>



                                    <td class="text-center">

                                        <a href="@Url.Action("Action", "Appointment", new { ID = item.ID })" class="btn btn-sm btn-rounded btn-info btn-icon-text"><i class="material-icons">edit</i></a>
                                        <button title="Delete" data-href="@Url.Action("Delete", "Appointment", new { ID = item.ID })" type="button" class="data-btn btn btn-sm btn-rounded btn-danger btn-icon-text" data-toggle="modal" data-target="#actionModal"><i class="material-icons">delete</i></button>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {

            <div class="alert alert-warning col-md-12" role="alert">
                Sorry! No records exist.
            </div>
        }
    </div>
</div>

<script>


    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $('#datatables').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            }

        });

        $(document).on('click', '.data-btn', function () {
            $.ajax({
                url: $(this).attr("data-href"),
            })
                .done(function (response) {
                    $("#actionModal .modal-dialog").html(response);
                    $("#actionModal").modal('show'); // Make sure the modal is shown after the response is loaded
                });
        });
    });


   
</script>



