@model TheBookingPlatform.ViewModels.UserActionModel

<style>
  /*  .form-control{
        margin-left:10px !important;
    }*/
    /*.input-group {
        display: flex;
        align-items: baseline;
    }*/
    label {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 10px;
    }
</style>
@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @if (!string.IsNullOrEmpty(Model.ID))
                {
                    <span>Edit User</span>
                }
                else
                {
            <span>Create User</span>
                }
            </h5>
           
        </div>
        <div class="modal-body">
            <form id="actionForm">
                <input type="hidden" name="ID" value="@Model.ID" />
                <div class="form-group input-group input-group-dynamic">
                    <label>Full Name</label>

                    <input class="form-control common-field" id="Name" name="Name" placeholder="Enter Full Name." value="@Model.Name">
                </div>
                <div class="form-group input-group input-group-dynamic">
                    <label>Email</label>
                    <input class="form-control common-field" id="Email" name="Email" placeholder="Enter Email." value="@Model.Email">
                </div>

                @if (User.IsInRole("Super Admin"))
                {

                    <div class="form-group input-group input-group-dynamic">
                        <label>Company</label>
                        <select class="form-control choices__input" name="Company" id="Company">
                            @foreach (var item in Model.Companies)
                            {
                                if (item.Business == Model.Company)
                                {
                                    <option selected value="@item.Business">@item.Business</option>
                                }
                                else
                                {
                                    <option value="@item.Business">@item.Business</option>
                                }
                            }
                        </select>
                    </div>
                }

                @if (Model.LoggedInUser.Role == "Owner" || Model.LoggedInUser.Role == "Super Admin")
                {
                        <div class="form-group input-group input-group-dynamic">
                            <label>Role</label>
                            <select name="Role" class="form-control choices__input">
                                @foreach (var item in Model.Roles)
                                {
                                    if (item.Name != "Super Admin")
                                    {
                                        if (item.Name == Model.Role)
                                        {
                                            <option selected value="@item.Id">@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.Name</option>

                                        }
                                    }
                                }


                            </select>
                        </div>
                }

                <div class="form-group input-group input-group-dynamic">
                    <label>Interval Calendar</label>
                    <select name="IntervalCalendar" id="IntervalCalendar" class="form-control choices__input">
                        @if (Model.IntervalCalendar == 15)
                        {
                            <option selected value="15">15 Mins</option>
                            <option value="30">30 Mins</option>
                            <option value="60">60 Mins</option>
                        }
                        else if (Model.IntervalCalendar == 30)
                        {
                            <option value="15">15 Mins</option>
                            <option selected value="30">30 Mins</option>
                            <option value="60">60 Mins</option>
                        }
                        else if (Model.IntervalCalendar == 60)
                        {
                            <option value="15">15 Mins</option>
                            <option value="30">30 Mins</option>
                            <option selected value="60">60 Mins</option>
                        }
                        else
                        {
                            <option value="15">15 Mins</option>
                            <option value="30">30 Mins</option>
                            <option value="60">60 Mins</option>
                        }
                    </select>
                </div>

                <div class="form-group input-group input-group-dynamic">
                    <label>Contact</label>
                    <input class="form-control common-field" id="Contact" name="Contact" placeholder="Enter Contact." value="@Model.Contact">
                </div>

                <div class="form-group input-group input-group-dynamic">
                    <label>Password</label>
                    <input class="form-control common-field" id="passkaka" name="passkaka" type="password" placeholder="Enter Password." value="@Model.passkaka">
                </div>


            </form>

            <div class="errorDiv">

            </div>
        </div>
        <div class="modal-footer">
            @if (!string.IsNullOrEmpty(Model.ID))
            {
                <button id="actionButton" type="button" class="btn btn-primary"><i class="fas fa-save mr-1"></i> Update</button>
            }
            else
            {
                <button id="actionButton" type="button" class="btn btn-primary"><i class="fas fa-save mr-1"></i> Save</button>
            }
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times mr-1"></i> Close</button>
        </div>
    </div>
}

<script>

    $(document).ready(function () {
        var elements = document.getElementsByClassName('choices__input');

        // Check if there are any elements found
        if (elements.length > 0) {
            // Loop through each element and initialize Choices for it
            for (var i = 0; i < elements.length; i++) {
                const example = new Choices(elements[i], {
                    searchEnabled: false,
                    itemSelectText: ''
                });
            }
        }
        $(".common-field").on("input", function () {
            var name = $("#Name").val().trim();
            var email = $("#Email").val().trim();
            var contact = $("#Contact").val().trim();
            var password = $("#passkaka").val().trim();

            if (name === '' || email === '' || contact === '' || password === '' ) {
                $("#RegisterBtn").attr("disabled", "disabled");

                $("#Name").css("border", name === '' ? "0.5px solid red" : "none");
                $("#Email").css("border", email === '' ? "0.5px solid red" : "none");
                $("#Contact").css("border", contact === '' ? "0.5px solid red" : "none");
                $("#passkaka").css("border", password === '' || password.length < 8 ? "0.5px solid red" : "none");
            } else {
                $("#RegisterBtn").removeAttr("disabled");
                $(".common-field").css("border", "none"); // Remove border from all fields
            }
        });
    });



    $("#actionButton").click(function () {
        showLoadingSpinner();
		$.ajax({
			url: '@Url.Action("Action", "User")',
			type: "post",
			data: $("#actionForm").serialize()
		})
		.done(function (response) {
			if(response.Success)
            {
                hideLoadingSpinner();
				location.reload();
			}
            else {
                hideLoadingSpinner();
				$(".errorDiv").html(response.Message);
			}
		});
	});
</script>
