@model TheBookingPlatform.ViewModels.CompanyActionViewModel
@{
    ViewBag.Title = "RegisterCompany";
}
<head>
    <style>
        label {
            width: 100%;
            margin-left: 0px;
            margin-bottom: 0px;
            margin-top: 10px;
        }
    </style>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-P3CS2C74');</script>
    <!-- End Google Tag Manager -->

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P3CS2C74"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <form id="MainCompanyRegisterForm">
        <input class="form-control" type="hidden" id="Email" name="Email" value="@Model.Email" />
        <input class="form-control" type="hidden" id="PAKKIDA" name="PAKKIDA" value="@Model.PAKKIDA" />
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">
                    Company Details
                </h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group input-group-dynamic">
                                <label>
                                    Business Name
                                </label>
                                <input class="form-control" placeholder="Enter Business Name..." id="Business" type="text" name="Business" required />
                            </div>
                        </div>
                    </div>


                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="input-group input-group-dynamic">

                                <label>
                                    Business Address
                                </label>
                                <input class="form-control" placeholder="Enter Business Address..." type="text" name="Address" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group input-group-dynamic">

                                <label>
                                    Postal Code
                                </label>
                                <input class="form-control" placeholder="Enter Postal Code..." type="text" name="PostalCode" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group input-group-dynamic">

                                <label>
                                    City
                                </label>
                                <input class="form-control" placeholder="Enter City..." type="text" name="City" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group input-group-dynamic">

                                <label>
                                    Phone Number
                                </label>
                                <input class="form-control" id="PhoneNumber" placeholder="Enter Phone Number..." type="text" name="PhoneNumber" required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group input-group-dynamic">
                                <label>Selected Country</label>
                                <input type="text" class="form-control" readonly id="CountryName" name="CountryName"
                                       value="@Model.CountryName" />
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group input-group-dynamic">

                                <label>Select Timezone</label>
                                <select class="form-control" name="TimeZone" id="TimeZone">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="display:none;">
                    <div class="col-md-4">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group input-group-dynamic">

                                    <label>Enter Newsletter Interval Weeks </label>
                                    <input type="number" class="form-control" name="NewsLetterWeekInterval" value="0" id="NewsLetterWeekInterval" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Logo</label>
                            <img id="MainThumb" style="width:150px;" src="~/Content/MainTemplate/assets/img/placeholder.jpg" alt="...">

                            <input type="hidden" name="Logo" id="Logo" />
                            <input type="file" id="LogoUpload" accept="image/*" />

                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="card my-4">
            <div class="card-body">
                <h2 class="card-title">
                    Email Details
                </h2>
                <div class="row">
                    <div class="col-md-4">

                        <div class="form-group">
                            <div class="input-group input-group-dynamic">

                                <label>
                                    Notification Email
                                </label>
                                <input class="form-control" placeholder="Enter Notification Email..." type="email" name="NotificationEmail" required />
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group input-group-dynamic">

                                <label>
                                    Contact Email
                                </label>
                                <input class="form-control" placeholder="Enter Contact Email..." type="email" name="ContactEmail" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group input-group-dynamic">

                                <label>
                                    Billing Email
                                </label>
                                <input class="form-control" placeholder="Enter Billing Email..." type="email" name="BillingEmail" required />
                            </div>
                        </div>
                    </div>
                </div>






            </div>
        </div>
    </form>


    <button id="ActionBtn" class="btn btn-primary btn-round">
        <i class="material-icons">business</i>
        Register your Comapny
        <div class="ripple-container"></div>
    </button>
</body>

<script>
    const countryTimeZones = {
        "Afghanistan": ["Asia/Kabul"],
        "Albania": ["Europe/Tirane"],
        "Algeria": ["Africa/Algiers"],
        "Andorra": ["Europe/Andorra"],
        "Angola": ["Africa/Luanda"],
        "Argentina": [
            "America/Argentina/Buenos_Aires",
            "America/Argentina/Cordoba",
            "America/Argentina/Salta",
            "America/Argentina/Jujuy",
            "America/Argentina/Tucuman",
            "America/Argentina/Catamarca",
            "America/Argentina/La_Rioja",
            "America/Argentina/San_Juan",
            "America/Argentina/Mendoza",
            "America/Argentina/San_Luis",
            "America/Argentina/Rio_Gallegos",
            "America/Argentina/Ushuaia"
        ],
        "Armenia": ["Asia/Yerevan"],
        "Australia": [
            "Australia/Lord_Howe",
            "Antarctica/Macquarie",
            "Australia/Hobart",
            "Australia/Melbourne",
            "Australia/Sydney",
            "Australia/Broken_Hill",
            "Australia/Brisbane",
            "Australia/Lindeman",
            "Australia/Adelaide",
            "Australia/Darwin",
            "Australia/Perth",
            "Australia/Eucla"
        ],
        "Austria": ["Europe/Vienna"],
        "Azerbaijan": ["Asia/Baku"],
        "Bahamas": ["America/Nassau"],
        "Bahrain": ["Asia/Bahrain"],
        "Bangladesh": ["Asia/Dhaka"],
        "Barbados": ["America/Barbados"],
        "Belarus": ["Europe/Minsk"],
        "Belgium": ["Europe/Brussels"],
        "Belize": ["America/Belize"],
        "Benin": ["Africa/Porto-Novo"],
        "Bhutan": ["Asia/Thimphu"],
        "Bolivia": ["America/La_Paz"],
        "Botswana": ["Africa/Gaborone"],
        "Brazil": [
            "America/Noronha",
            "America/Belem",
            "America/Fortaleza",
            "America/Recife",
            "America/Araguaina",
            "America/Maceio",
            "America/Bahia",
            "America/Sao_Paulo",
            "America/Campo_Grande",
            "America/Cuiaba",
            "America/Santarem",
            "America/Porto_Velho",
            "America/Boa_Vista",
            "America/Manaus",
            "America/Eirunepe",
            "America/Rio_Branco"
        ],
        "Brunei": ["Asia/Brunei"],
        "Bulgaria": ["Europe/Sofia"],
        "Burkina Faso": ["Africa/Ouagadougou"],
        "Burundi": ["Africa/Bujumbura"],
        "Cambodia": ["Asia/Phnom_Penh"],
        "Cameroon": ["Africa/Douala"],
        "Canada": [
            "America/St_Johns",
            "America/Halifax",
            "America/Glace_Bay",
            "America/Moncton",
            "America/Goose_Bay",
            "America/Blanc-Sablon",
            "America/Toronto",
            "America/Iqaluit",
            "America/Atikokan",
            "America/Winnipeg",
            "America/Resolute",
            "America/Rankin_Inlet",
            "America/Regina",
            "America/Swift_Current",
            "America/Edmonton",
            "America/Cambridge_Bay",
            "America/Inuvik",
            "America/Creston",
            "America/Dawson_Creek",
            "America/Fort_Nelson",
            "America/Whitehorse",
            "America/Dawson",
            "America/Vancouver"
        ],
        "Cape Verde": ["Atlantic/Cape_Verde"],
        "Chad": ["Africa/Ndjamena"],
        "Chile": [
            "America/Santiago",
            "America/Coyhaique",
            "America/Punta_Arenas",
            "Pacific/Easter"
        ],
        "China": ["Asia/Shanghai", "Asia/Urumqi"],
        "Colombia": ["America/Bogota"],
        "Comoros": ["Indian/Comoro"],
        "Costa Rica": ["America/Costa_Rica"],
        "Croatia": ["Europe/Zagreb"],
        "Cuba": ["America/Havana"],
        "Cyprus": ["Asia/Nicosia", "Asia/Famagusta"],
        "Czech Republic": ["Europe/Prague"],
        "Denmark": ["Europe/Copenhagen"],
        "Djibouti": ["Africa/Djibouti"],
        "Dominica": ["America/Dominica"],
        "Dominican Republic": ["America/Santo_Domingo"],
        "East Timor": ["Asia/Dili"],
        "Ecuador": ["America/Guayaquil", "Pacific/Galapagos"],
        "Egypt": ["Africa/Cairo"],
        "El Salvador": ["America/El_Salvador"],
        "Equatorial Guinea": ["Africa/Malabo"],
        "Eritrea": ["Africa/Asmara"],
        "Estonia": ["Europe/Tallinn"],
        "Ethiopia": ["Africa/Addis_Ababa"],
        "Fiji": ["Pacific/Fiji"],
        "Finland": ["Europe/Helsinki"],
        "France": ["Europe/Paris"],
        "Gabon": ["Africa/Libreville"],
        "Gambia": ["Africa/Banjul"],
        "Georgia": ["Asia/Tbilisi"],
        "Germany": ["Europe/Berlin", "Europe/Busingen"],
        "Ghana": ["Africa/Accra"],
        "Greece": ["Europe/Athens"],
        "Grenada": ["America/Grenada"],
        "Guatemala": ["America/Guatemala"],
        "Guinea": ["Africa/Conakry"],
        "Guinea-Bissau": ["Africa/Bissau"],
        "Guyana": ["America/Guyana"],
        "Haiti": ["America/Port-au-Prince"],
        "Honduras": ["America/Tegucigalpa"],
        "Hungary": ["Europe/Budapest"],
        "Iceland": ["Atlantic/Reykjavik"],
        "India": ["Asia/Kolkata"],
        "Indonesia": [
            "Asia/Jakarta",
            "Asia/Pontianak",
            "Asia/Makassar",
            "Asia/Jayapura"
        ],
        "Iran": ["Asia/Tehran"],
        "Iraq": ["Asia/Baghdad"],
        "Ireland": ["Europe/Dublin"],
        "Israel": ["Asia/Jerusalem"],
        "Italy": ["Europe/Rome"],
        "Jamaica": ["America/Jamaica"],
        "Japan": ["Asia/Tokyo"],
        "Jordan": ["Asia/Amman"],
        "Kazakhstan": [
            "Asia/Almaty",
            "Asia/Qyzylorda",
            "Asia/Qostanay",
            "Asia/Aqtobe",
            "Asia/Aqtau",
            "Asia/Atyrau",
            "Asia/Oral"
        ],
        "Kenya": ["Africa/Nairobi"],
        "Kiribati": ["Pacific/Tarawa", "Pacific/Kanton", "Pacific/Kiritimati"],
        "Kuwait": ["Asia/Kuwait"],
        "Kyrgyzstan": ["Asia/Bishkek"],
        "Laos": ["Asia/Vientiane"],
        "Latvia": ["Europe/Riga"],
        "Lebanon": ["Asia/Beirut"],
        "Lesotho": ["Africa/Maseru"],
        "Liberia": ["Africa/Monrovia"],
        "Libya": ["Africa/Tripoli"],
        "Liechtenstein": ["Europe/Vaduz"],
        "Lithuania": ["Europe/Vilnius"],
        "Luxembourg": ["Europe/Luxembourg"],
        "Madagascar": ["Indian/Antananarivo"],
        "Malawi": ["Africa/Blantyre"],
        "Malaysia": ["Asia/Kuala_Lumpur", "Asia/Kuching"],
        "Maldives": ["Indian/Maldives"],
        "Mali": ["Africa/Bamako"],
        "Malta": ["Europe/Malta"],
        "Marshall Islands": ["Pacific/Majuro", "Pacific/Kwajalein"],
        "Mauritania": ["Africa/Nouakchott"],
        "Mauritius": ["Indian/Mauritius"],
        "Mexico": [
            "America/Mexico_City",
            "America/Cancun",
            "America/Merida",
            "America/Monterrey",
            "America/Matamoros",
            "America/Chihuahua",
            "America/Ciudad_Juarez",
            "America/Ojinaga",
            "America/Mazatlan",
            "America/Bahia_Banderas",
            "America/Hermosillo",
            "America/Tijuana"
        ],
        "Micronesia": ["Pacific/Chuuk", "Pacific/Pohnpei", "Pacific/Kosrae"],
        "Moldova": ["Europe/Chisinau"],
        "Monaco": ["Europe/Monaco"],
        "Mongolia": ["Asia/Ulaanbaatar", "Asia/Hovd"],
        "Montenegro": ["Europe/Podgorica"],
        "Morocco": ["Africa/Casablanca"],
        "Mozambique": ["Africa/Maputo"],
        "Namibia": ["Africa/Windhoek"],
        "Nauru": ["Pacific/Nauru"],
        "Nepal": ["Asia/Kathmandu"],
        "Netherlands": ["Europe/Amsterdam"],
        "New Zealand": ["Pacific/Auckland", "Pacific/Chatham"],
        "Nicaragua": ["America/Managua"],
        "Niger": ["Africa/Niamey"],
        "Nigeria": ["Africa/Lagos"],
        "North Macedonia": ["Europe/Skopje"],
        "Norway": ["Europe/Oslo"],
        "Oman": ["Asia/Muscat"],
        "Pakistan": ["Asia/Karachi"],
        "Palau": ["Pacific/Palau"],
        "Panama": ["America/Panama"],
        "Papua New Guinea": ["Pacific/Port_Moresby", "Pacific/Bougainville"],
        "Paraguay": ["America/Asuncion"],
        "Peru": ["America/Lima"],
        "Philippines": ["Asia/Manila"],
        "Poland": ["Europe/Warsaw"],
        "Portugal": ["Europe/Lisbon", "Atlantic/Madeira", "Atlantic/Azores"],
        "Qatar": ["Asia/Qatar"],
        "Romania": ["Europe/Bucharest"],
        "Russia": [
            "Europe/Kaliningrad",
            "Europe/Moscow",
            "Europe/Kirov",
            "Europe/Volgograd",
            "Europe/Astrakhan",
            "Europe/Saratov",
            "Europe/Ulyanovsk",
            "Europe/Samara",
            "Asia/Yekaterinburg",
            "Asia/Omsk",
            "Asia/Novosibirsk",
            "Asia/Barnaul",
            "Asia/Tomsk",
            "Asia/Novokuznetsk",
            "Asia/Krasnoyarsk",
            "Asia/Irkutsk",
            "Asia/Chita",
            "Asia/Yakutsk",
            "Asia/Khandyga",
            "Asia/Vladivostok",
            "Asia/Ust-Nera",
            "Asia/Magadan",
            "Asia/Sakhalin",
            "Asia/Srednekolymsk",
            "Asia/Kamchatka",
            "Asia/Anadyr"
        ],
        "Rwanda": ["Africa/Kigali"],
        "San Marino": ["Europe/San_Marino"],
        "Saudi Arabia": ["Asia/Riyadh"],
        "Senegal": ["Africa/Dakar"],
        "Serbia": ["Europe/Belgrade"],
        "Seychelles": ["Indian/Mahe"],
        "Sierra Leone": ["Africa/Freetown"],
        "Singapore": ["Asia/Singapore"],
        "Slovakia": ["Europe/Bratislava"],
        "Slovenia": ["Europe/Ljubljana"],
        "Solomon Islands": ["Pacific/Guadalcanal"],
        "Somalia": ["Africa/Mogadishu"],
        "South Africa": ["Africa/Johannesburg"],
        "South Sudan": ["Africa/Juba"],
        "Spain": ["Europe/Madrid", "Africa/Ceuta", "Atlantic/Canary"],
        "Sri Lanka": ["Asia/Colombo"],
        "Sudan": ["Africa/Khartoum"],
        "Suriname": ["America/Paramaribo"],
        "Sweden": ["Europe/Stockholm"],
        "Switzerland": ["Europe/Zurich"],
        "Syria": ["Asia/Damascus"],
        "Taiwan": ["Asia/Taipei"],
        "Tajikistan": ["Asia/Dushanbe"],
        "Tanzania": ["Africa/Dar_es_Salaam"],
        "Thailand": ["Asia/Bangkok"],
        "Togo": ["Africa/Lome"],
        "Tonga": ["Pacific/Tongatapu"],
        "Tunisia": ["Africa/Tunis"],
        "Turkey": ["Europe/Istanbul"],
        "Turkmenistan": ["Asia/Ashgabat"],
        "Tuvalu": ["Pacific/Funafuti"],
        "Uganda": ["Africa/Kampala"],
        "Ukraine": ["Europe/Simferopol", "Europe/Kyiv"],
        "United Arab Emirates": ["Asia/Dubai"],
        "United Kingdom": ["Europe/London"],
        "United States": [
            "America/New_York",
            "America/Detroit",
            "America/Kentucky/Louisville",
            "America/Kentucky/Monticello",
            "America/Indiana/Indianapolis",
            "America/Indiana/Vincennes",
            "America/Indiana/Winamac",
            "America/Indiana/Marengo",
            "America/Indiana/Petersburg",
            "America/Indiana/Vevay",
            "America/Chicago",
            "America/Indiana/Tell_City",
            "America/Indiana/Knox",
            "America/Menominee",
            "America/North_Dakota/Center",
            "America/North_Dakota/New_Salem",
            "America/North_Dakota/Beulah",
            "America/Denver",
            "America/Boise",
            "America/Phoenix",
            "America/Los_Angeles",
            "America/Anchorage",
            "America/Juneau",
            "America/Sitka",
            "America/Metlakatla",
            "America/Yakutat",
            "America/Nome",
            "America/Adak",
            "Pacific/Honolulu"
        ],
        "Uruguay": ["America/Montevideo"],
        "Uzbekistan": ["Asia/Samarkand", "Asia/Tashkent"],
        "Vanuatu": ["Pacific/Efate"],
        "Vatican City": ["Europe/Vatican"],
        "Venezuela": ["America/Caracas"],
        "Vietnam": ["Asia/Ho_Chi_Minh"],
        "Yemen": ["Asia/Aden"],
        "Zambia": ["Africa/Lusaka"],
        "Zimbabwe": ["Africa/Harare"]
    };
    $(document).ready(function () {
        const selectedCountry = $("#CountryName").val()?.trim();

        if (selectedCountry && countryTimeZones[selectedCountry]) {
            const zones = countryTimeZones[selectedCountry];
            const $timeZoneSelect = $("#TimeZone");

            $timeZoneSelect.empty(); // Clear existing

            $.each(zones, function (i, zone) {
                $timeZoneSelect.append($("<option>", {
                    value: zone,
                    text: zone
                }));
            });
        } else {
            $("#TimeZone").html("<option value=''>No timezones found</option>");
        }
    });

</script>

<script>
    function showSuccessAlert() {
        Swal.fire({
            icon: 'success',
            title: 'Image Uploaded Successfully!',
            showConfirmButton: true,
            timer: 1500 // Automatically close after 1.5 seconds
        });
    }

    function showFormSubmitted() {
        Swal.fire({
            icon: 'success',
            title: 'Company Registered Successfully! ',
            text: 'Redirecting you to the company page',
            showConfirmButton: false,
            timer: 1000 // Automatically close after 1.5 seconds
        });
    }
    function showFieldsError(fieldNames) {
        var message = 'These are the required fields:\n' + fieldNames.join(', ');

        Swal.fire({
            icon: 'error',
            title: 'Required Fields Missing',
            text: message,
            showConfirmButton: true
        });
    }
    $("#LogoUpload").change(function () {

        $("#overlay").fadeIn();
        $("#centeredElement").fadeIn();
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Logo", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadImage", "Shared")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {

                if (response.Success) {
                    // For now, we'll just delay the fade out for demonstration

                    $("#Logo").val(response.DocURL);
                    $("#MainThumb").attr("src", response.DocURL);
                    showSuccessAlert();
                    setTimeout(function () {
                        $("#overlay").fadeOut();
                        $("#centeredElement").fadeOut();
                    }, 2000);
                }

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            })
    });

    $("#Business").on("input", function () {
        var invalidChars = /[<>*%:&\\?]/g;

        if (invalidChars.test($(this).val())) {
            alert("Special characters are not allowed!");
            $(this).val($(this).val().replace(invalidChars, ''));
        }
    });

    $("#ActionBtn").click(function () {


        var requiredFields = $('#MainCompanyRegisterForm :input[required]').filter(function () {
            return !$(this).val();
        });

        var requiredFieldNames = requiredFields.map(function () {
            return $(this).attr('name');
        }).get();

        if (requiredFieldNames.length > 0) {
            showFieldsError(requiredFieldNames);
        }
        else {
            var errorFields = $('.form-group.has-error input');
            var errorFieldNames = [];
            errorFields.each(function () {
                var fieldName = $(this).attr('name');
                errorFieldNames.push(fieldName);
            });
            if (errorFieldNames.length > 0) {
                showFieldsError(errorFieldNames);

            } else {
                // Submit the form or perform other actions
                if ($("#Business").val() == "") {
                    showFieldsError("Name");
                    return;
                } else {
                    $.ajax({
                        url: '@Url.Action("RegisterCompany", "User")',
                        type: "post",
                        data: $("#MainCompanyRegisterForm").serialize(),
                        beforeSend: function () {
                            // Show the loading overlay before starting the AJAX request
                            $("#overlay").fadeIn();
                            $("#centeredElement").fadeIn();
                        }
                    })

                        .done(function (response) {
                            if (response.success) {
                                showFormSubmitted();
                                var Email = response.Email;
                                var Password = response.Password;
                                var url = '@Url.Action("AutoLogin", "Account", new { Email = "__Email__", PasswordKAK = "__Password__" })'
                                    .replace("__Email__", encodeURIComponent(Email))
                                    .replace("__Password__", encodeURIComponent(Password));
                                window.location.href = url;
                            }
                            else {
                                alert(response.Message);
                            }
                        });
                }
            }

        }

    });
</script>


