@model TheBookingPlatform.ViewModels.SettingsViewModel
@using System.Security.Claims
@{
    ViewBag.Title = "Settings";
}
@{
    var package = "";
    var inTrial = "";

}
@if (User.Identity.IsAuthenticated)
{
    var claimsPrincipal = User as ClaimsPrincipal;

    // Use traditional null checks
    if (claimsPrincipal != null)
    {
        var claim = claimsPrincipal.FindAll("Package").Where(x => x.Value != "").FirstOrDefault();
        if (claim != null)
        {
            package = claim.Value;
        }
        var InTrial = claimsPrincipal.FindAll("InTrial").Where(x => x.Value != "").FirstOrDefault();
        if (InTrial != null)
        {
            inTrial = InTrial.Value;
        }
    }
}


<style>
    .boxyy{
        padding-left:5px;
        cursor:pointer;
        padding-bottom:5px;
    }

    .material-icons{
        color:white;
        font-size:xx-large;
    }
    #loader {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    .card .card-content {
        padding: 0px 20px;
        position: relative;
    }

    .card .nav-pills, .card .tab-content {
        margin-top: 0px;
    }
    .nav.nav-pills .nav-link {
        transition: transform 0.3s ease; /* Add transition for transform */
    }

        .nav.nav-pills .nav-link.active {
            background: white;
            border-radius: 5px;
            box-shadow: lightgray 2px 2px 5px;
        }


   .moving-tab{
       display:none;
   }




</style>
<div class="card">
    <div class="card-body">
        <div class=" text-center">
            <span class="text-center">Choose Option</span>
            <input type="hidden" value="@Model.Selected" id="Selected" />
            <div class="nav-center">

                <div class="nav-wrapper position-relative end-0 mb-2">
                    <ul class="nav nav-pills nav-fill p-1" role="tablist">

                        @if (User.IsInRole("Super Admin"))
                        {
                            <li id="Services" class="nav-item">
                                <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#services-1" role="tab" aria-controls="services" aria-selected="false">
                                    Services
                                </a>
                            </li>


                            <li id="Employees" class="nav-item">
                                <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#employees-1" role="tab" aria-controls="profile" aria-selected="false">
                                    Emloyees
                                </a>
                            </li>

                            <li id="Reviews" class="nav-item">
                                <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#reviews-1" role="tab" aria-controls="profile" aria-selected="false">
                                    Reviews
                                </a>
                            </li>





                            <li id="Logs" class="nav-item">
                                <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#logs-2" role="tab" aria-controls="logs" aria-selected="false">
                                    Logs
                                </a>
                            </li>

                            <li id="RebookReminders" class="nav-item">
                                <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#rebookreminders-2" role="tab" aria-controls="rebook-reminders" aria-selected="false">
                                    Rebook Reminders
                                </a>
                            </li>

                            <li id="EmailTemplate" class="nav-item">
                                <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#emailtemplate-2" role="tab" aria-controls="email-template" aria-selected="false">
                                    Email Template
                                </a>
                            </li>



                            <li id="OpeningHours" class="nav-item">
                                <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#openinghours-2" role="tab" aria-controls="opening-hours" aria-selected="false">
                                    Opening Hours
                                </a>
                            </li>



                            <li id="PriceChange" class="nav-item">
                                <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#pricechanges-2" role="tab" aria-controls="price-change" aria-selected="false">
                                    Price Changes
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            if (inTrial == "No")
                            {
                                @*if (package.Split(',').Contains("Employees"))
                {


                    <li id="Employees" class="nav-item">
                        <a class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab" href="#employees-1" role="tab" aria-controls="profile" aria-selected="true">
                            Emloyees
                        </a>
                    </li>


                }*@
                                if (package.Split(',').Contains("Reviews"))
                                {


                                    <li id="Reviews" class="nav-item">
                                        <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#reviews-1" role="tab" aria-controls="profile" aria-selected="false">
                                            Reviews
                                        </a>
                                    </li>




                                }

                                if (package.Split(',').Contains("Logs"))
                                {

                                    <li id="Logs" class="nav-item">
                                        <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#logs-2" role="tab" aria-controls="logs" aria-selected="false">
                                            Logs
                                        </a>
                                    </li>

                                }


                                if (package.Split(',').Contains("Price Changes"))
                                {
                                    <li id="PriceChange" class="nav-item">
                                        <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#pricechanges-2" role="tab" aria-controls="price-change" aria-selected="false">
                                            Price Changes
                                        </a>
                                    </li>
                                }
                            }
                            else
                            {



                                <li id="Reviews" class="nav-item">
                                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#reviews-1" role="tab" aria-controls="profile" aria-selected="false">
                                        Reviews
                                    </a>
                                </li>


                                <li id="Logs" class="nav-item">
                                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#logs-2" role="tab" aria-controls="logs" aria-selected="false">
                                        Logs
                                    </a>
                                </li>


                                <li id="PriceChange" class="nav-item">
                                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#pricechanges-2" role="tab" aria-controls="price-change" aria-selected="false">
                                        Price Changes
                                    </a>
                                </li>


                            }
                        }
                        else
                        {
                            <li id="Company" class="nav-item">
                                <a class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab" href="#company-1" role="tab" aria-controls="company" aria-selected="true">
                                    Company
                                </a>
                            </li>


                            if (inTrial == "No")
                            {
                                if (package.Split(',').Contains("Services"))
                                {


                                    <li id="Services" class="nav-item">
                                        <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#services-1" role="tab" aria-controls="services" aria-selected="false">
                                            Services
                                        </a>
                                    </li>

                                }
                                if (package.Split(',').Contains("Employees"))
                                {
                                    <li id="Employees" class="nav-item">
                                        <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#employees-1" role="tab" aria-controls="profile" aria-selected="false">
                                            Emloyees
                                        </a>
                                    </li>

                                }
                                if (package.Split(',').Contains("Reviews"))
                                {

                                    <li id="Reviews" class="nav-item">
                                        <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#reviews-1" role="tab" aria-controls="profile" aria-selected="false">
                                            Reviews
                                        </a>
                                    </li>



                                }
                                if (package.Split(',').Contains("Logs"))
                                {
                                    <li id="Logs" class="nav-item">
                                        <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#logs-2" role="tab" aria-controls="logs" aria-selected="false">
                                            Logs
                                        </a>
                                    </li>

                                }
                                if (package.Split(',').Contains("Rebook Reminders"))
                                {

                                    <li id="RebookReminders" class="nav-item">
                                        <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#rebookreminders-2" role="tab" aria-controls="rebook-reminders" aria-selected="false">
                                            Rebook Reminders
                                        </a>
                                    </li>

                                }
                                if (package.Split(',').Contains("Email Template"))
                                {

                                    <li id="EmailTemplate" class="nav-item">
                                        <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#emailtemplate-2" role="tab" aria-controls="email-template" aria-selected="false">
                                            Email Template
                                        </a>
                                    </li>

                                }
                                if (package.Split(',').Contains("Opening Hours"))
                                {


                                    <li id="OpeningHours" class="nav-item">
                                        <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#openinghours-2" role="tab" aria-controls="opening-hours" aria-selected="false">
                                            Opening Hours
                                        </a>
                                    </li>



                                }
                                if (package.Split(',').Contains("Price Changes"))
                                {
                                    <li id="PriceChange" class="nav-item">
                                        <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#pricechanges-2" role="tab" aria-controls="price-change" aria-selected="false">
                                            Price Changes
                                        </a>
                                    </li>
                                }
                            }
                            else
                            {
                                <li id="Services" class="nav-item">
                                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#services-1" role="tab" aria-controls="services" aria-selected="false">
                                        Services
                                    </a>
                                </li>


                                <li id="Employees" class="nav-item">
                                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#employees-1" role="tab" aria-controls="profile" aria-selected="false">
                                        Emloyees
                                    </a>
                                </li>

                                <li id="Reviews" class="nav-item">
                                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#reviews-1" role="tab" aria-controls="profile" aria-selected="false">
                                        Reviews
                                    </a>
                                </li>





                                <li id="Logs" class="nav-item">
                                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#logs-2" role="tab" aria-controls="logs" aria-selected="false">
                                        Logs
                                    </a>
                                </li>

                                <li id="RebookReminders" class="nav-item">
                                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#rebookreminders-2" role="tab" aria-controls="rebook-reminders" aria-selected="false">
                                        Rebook Reminders
                                    </a>
                                </li>

                                <li id="EmailTemplate" class="nav-item">
                                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#emailtemplate-2" role="tab" aria-controls="email-template" aria-selected="false">
                                        Email Template
                                    </a>
                                </li>



                                <li id="OpeningHours" class="nav-item">
                                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#openinghours-2" role="tab" aria-controls="opening-hours" aria-selected="false">
                                        Opening Hours
                                    </a>
                                </li>



                                <li id="PriceChange" class="nav-item">
                                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#pricechanges-2" role="tab" aria-controls="price-change" aria-selected="false">
                                        Price Changes
                                    </a>
                                </li>

                            }
                        }


                    </ul>
                </div>

                   
                </div>

            </div>




    </div>
</div>

<div style="display:none;" id="loader"><img style="width:150px;" src="~/Content/TBPContent/Loader.gif" /></div>
<hr />
<div id="ActionPanel" >
</div>

<div class="modal fade center" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>
<div class="modal fade center" id="actionModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>

@if (User.IsInRole("Admin"))
{
    <script>

    function ChangeIsClosedStatus(ID) {
        $.ajax({
            url: '@Url.Action("UpdateIsClosed", "User")', // Update this with your controller and action names
            type: 'POST',
            data: { ID: ID },
            success: function (result) {
                alert("Status Updated");

            },
            error: function (error) {
                // Handle error response if needed
            }
        });
    }
    $(document).ready(function () {
        //var Selected = $("#Selected").val();
        //if (Selected == "Company") {
        //    $("#Company").click();
        //} else if (Selected == "Email Template") {
        //    $("#EmailTemplate").click();

        //}
        //else if (Selected == "Price Change") {
        //    $("#PriceChange").click();

        //}
        //else {
        $("#Employees").click();

        //}
    })

    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });

        $(".data-btn2").click(function () {
            $.ajax({
                url: $(this).attr("data-href"),
            })
                .done(function (response) {
                    $("#actionModal2 .modal-dialog").html(response);
                });
        });


    $("#PriceChange").click(function () {
        showLoadingSpinner();
        
        $.ajax({
            url: '@Url.Action("PriceChange", "Home")', // Replace with your controller and action names
            type: 'GET',
            success: function (result) {
                $("#ActionPanel").html(result);
            },
            error: function (xhr, status, error) {
                console.error(error);
            },
            complete: function () {
                // This function is executed after the AJAX request is completed (success or error)
                hideLoadingSpinner();
            }
        });
    });



     $("#Company").click(function () {
         showLoadingSpinner();
        $.ajax({
            url: '@Url.Action("ShowCompanySettings", "Home")', // Replace with your controller and action names
            type: 'GET',

            success: function (result) {
                $("#ActionPanel").html(result);
            },
            error: function (xhr, status, error) {
                console.error(error);
            },
            complete: function () {
                // This function is executed after the AJAX request is completed (success or error)
                hideLoadingSpinner();
            }
        });
    });

    $("#EmailTemplate").click(function () {
        showLoadingSpinner();
        $.ajax({
            url: '@Url.Action("Index", "EmailTemplate")', // Replace with your controller and action names
            type: 'GET',

            success: function (result) {
                $("#ActionPanel").html(result);
            },
            error: function (xhr, status, error) {
                console.error(error);
            },
            complete: function () {
                // This function is executed after the AJAX request is completed (success or error)
                hideLoadingSpinner();
            }
        });
    });

        $("#Reviews").click(function () {
            showLoadingSpinner();
            $.ajax({
                url: '@Url.Action("Index", "Review")', // Replace with your controller and action names
                type: 'GET',

                success: function (result) {
                    $("#ActionPanel").html(result);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                },
                complete: function () {
                    // This function is executed after the AJAX request is completed (success or error)
                    hideLoadingSpinner();
                }
            });
        });

        $("#Logs").click(function () {
            showLoadingSpinner();
            $.ajax({
                url: '@Url.Action("ShowHistory", "Home")', // Replace with your controller and action names
                type: 'GET',

                success: function (result) {
                    $("#ActionPanel").html(result);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                },
                complete: function () {
                    // This function is executed after the AJAX request is completed (success or error)
                    hideLoadingSpinner();
                }
            });
        });

        $("#RebookReminders").click(function () {
             showLoadingSpinner();
            $.ajax({
                url: '@Url.Action("ShowRebookReminders", "Home")', // Replace with your controller and action names
                type: 'GET',

                success: function (result) {
                    $("#ActionPanel").html(result);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                },
                complete: function () {
                    // This function is executed after the AJAX request is completed (success or error)
                    hideLoadingSpinner();
                }
            });
        });

    $("#Services").click(function () {
        showLoadingSpinner();
        $.ajax({
            url: '@Url.Action("ShowServices", "Home")', // Replace with your controller and action names
            type: 'GET',

            success: function (result) {
                $("#ActionPanel").html(result);
            },
            error: function (xhr, status, error) {
                console.error(error);
            },
            complete: function () {
                // This function is executed after the AJAX request is completed (success or error)
                hideLoadingSpinner();
            }
        });
    });

    $("#OpeningHours").click(function () {
        showLoadingSpinner();
        $.ajax({
            url: '@Url.Action("ShowOpeningHours", "Home")', // Replace with your controller and action names
            type: 'GET',

            success: function (result) {
                $("#ActionPanel").html(result);
            },
            error: function (xhr, status, error) {
                console.error(error);
            },
            complete: function () {
                // This function is executed after the AJAX request is completed (success or error)
                hideLoadingSpinner();
            }
        });
    });


    $("#Employees").click(function () {
        showLoadingSpinner();
        $.ajax({
            url: '@Url.Action("ShowEmployees", "Home")', // Replace with your controller and action names
            type: 'GET',

            success: function (result) {
                $("#ActionPanel").html(result);
            },
            error: function (xhr, status, error) {
                console.error(error);
            },
            complete: function () {
                // This function is executed after the AJAX request is completed (success or error)
                hideLoadingSpinner();
            }
        });
    });
    </script>
}
else
{
    <script>

    function ChangeIsClosedStatus(ID) {
        $.ajax({
            url: '@Url.Action("UpdateIsClosed", "User")', // Update this with your controller and action names
            type: 'POST',
            data: { ID: ID },
            success: function (result) {
                alert("Status Updated");

            },
            error: function (error) {
                // Handle error response if needed
            }
        });
    }
        $("#Reviews").click(function () {
        showLoadingSpinner();
        $.ajax({
            url: '@Url.Action("Index", "Review")', // Replace with your controller and action names
            type: 'GET',

            success: function (result) {
                $("#ActionPanel").html(result);
            },
            error: function (xhr, status, error) {
                console.error(error);
            },
            complete: function () {
                // This function is executed after the AJAX request is completed (success or error)
                hideLoadingSpinner();
            }
        });
    });

    $(document).ready(function () {
        var Selected = $("#Selected").val();
        if (Selected == "Company") {
            $("#Company").click();
        } else if (Selected == "Email Template") {
            $("#EmailTemplate").click();

        }
        else if (Selected == "Price Change") {
            $("#PriceChange").click();

        }
        else {
            $("#Company").click();

        }
    })

            $("#RebookReminders").click(function () {
             showLoadingSpinner();
            $.ajax({
                url: '@Url.Action("ShowRebookReminders", "Home")', // Replace with your controller and action names
                type: 'GET',

                success: function (result) {
                    $("#ActionPanel").html(result);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                },
                complete: function () {
                    // This function is executed after the AJAX request is completed (success or error)
                    hideLoadingSpinner();
                }
            });
        });


    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });

        $(".data-btn2").click(function () {
            $.ajax({
                url: $(this).attr("data-href"),
            })
                .done(function (response) {
                    $("#actionModal2 .modal-dialog").html(response);
                });
        });

    $("#PriceChange").click(function () {
        showLoadingSpinner();
        $.ajax({
            url: '@Url.Action("PriceChange", "Home")', // Replace with your controller and action names
            type: 'GET',
            success: function (result) {
                $("#ActionPanel").html(result);
            },
            error: function (xhr, status, error) {
                console.error(error);
            },
            complete: function () {
                // This function is executed after the AJAX request is completed (success or error)
                hideLoadingSpinner();
            }
        });
    });



     $("#Company").click(function () {
         showLoadingSpinner();
        $.ajax({
            url: '@Url.Action("ShowCompanySettings", "Home")', // Replace with your controller and action names
            type: 'GET',

            success: function (result) {
                $("#ActionPanel").html(result);
            },
            error: function (xhr, status, error) {
                console.error(error);
            },
            complete: function () {
                // This function is executed after the AJAX request is completed (success or error)
                hideLoadingSpinner();
            }
        });
    });

    $("#EmailTemplate").click(function () {
        showLoadingSpinner();
        $.ajax({
            url: '@Url.Action("Index", "EmailTemplate")', // Replace with your controller and action names
            type: 'GET',

            success: function (result) {
                $("#ActionPanel").html(result);
            },
            error: function (xhr, status, error) {
                console.error(error);
            },
            complete: function () {
                // This function is executed after the AJAX request is completed (success or error)
                hideLoadingSpinner();
            }
        });
    });

    $("#Logs").click(function () {
        showLoadingSpinner();
        $.ajax({
            url: '@Url.Action("ShowHistory", "Home")', // Replace with your controller and action names
            type: 'GET',

            success: function (result) {
                $("#ActionPanel").html(result);
            },
            error: function (xhr, status, error) {
                console.error(error);
            },
            complete: function () {
                // This function is executed after the AJAX request is completed (success or error)
                hideLoadingSpinner();
            }
        });
    });


    $("#Services").click(function () {
        showLoadingSpinner();
        $.ajax({
            url: '@Url.Action("ShowServices", "Home")', // Replace with your controller and action names
            type: 'GET',

            success: function (result) {
                $("#ActionPanel").html(result);
            },
            error: function (xhr, status, error) {
                console.error(error);
            },
            complete: function () {
                // This function is executed after the AJAX request is completed (success or error)
                hideLoadingSpinner();
            }
        });
    });

    $("#OpeningHours").click(function () {
        showLoadingSpinner();
        $.ajax({
            url: '@Url.Action("ShowOpeningHours", "Home")', // Replace with your controller and action names
            type: 'GET',

            success: function (result) {
                $("#ActionPanel").html(result);
            },
            error: function (xhr, status, error) {
                console.error(error);
            },
            complete: function () {
                // This function is executed after the AJAX request is completed (success or error)
                hideLoadingSpinner();
            }
        });
    });


    $("#Employees").click(function () {
        showLoadingSpinner();
        $.ajax({
            url: '@Url.Action("ShowEmployees", "Home")', // Replace with your controller and action names
            type: 'GET',

            success: function (result) {
                $("#ActionPanel").html(result);
            },
            error: function (xhr, status, error) {
                console.error(error);
            },
            complete: function () {
                // This function is executed after the AJAX request is completed (success or error)
                hideLoadingSpinner();
            }
        });
    });
    </script>
}

<script>




</script>
