@model TheBookingPlatform.ViewModels.FranchiseRequestActionViewModel
@{
    ViewBag.Title = "Action";
    
}


<style>


    .form-group .checkbox label, .form-group .radio label, .form-group label, .form-group .label-on-left, .form-group .label-on-right {
        font-size: 14px;
        line-height: 1.428571429;
        color: black;
        font-weight: 400;
    }

    label {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .checkbox label {
        cursor: pointer;
        padding-left: 0;
        color: black;

    }
</style>
<form id="actionForm">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                @if (Model.ID != 0)
                {
                    <h4 class="card-title">
                        Edit Franchise Request
                    </h4>
                }
                else
                {
                    <h4 class="card-title">
                        Create Franchise Request
                    </h4>
                }


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group input-group-dynamic">

                                <label>Enter Company Code</label>
                                <input type="text" class="form-control" name="CompanyCode" id="CompanyCode" />
                                <input type="hidden" class="form-control" name="ID" id="ID" value="@Model.ID" />
                            </div>
                        </div>

                        </div>
                    <div class="col-md-6">
                        <span class="text-danger" id="errorDiv"></span>
                        <button class="btn btn-primary btn-sm" type="button" id="ValidateCompanyCodeBtn">
                            Get Users
                        </button>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">

                            <label>Select User</label>
                            <select class="form-control " name="UserID" id="UserID">
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">

                            <label>Select User from your Company</label>
                            <select class="form-control choices__input" name="MappedToUserID" id="MappedToUserID">
                                @foreach (var item in Model.Users)
                                {
                                    if (item.Id == Model.MappedToUserID)
                                    {
                                        <option selected value="@item.Id">@item.Name</option>

                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>

                @if (Model.ID == 0)
                {


                    <button id="ActionBtn" type="button" class="btn btn-primary  btn-rounded">SEND REQUEST</button>
                }
                else
                {
                    <button id="ActionBtn" type="button" class="btn btn-secondary btn-rounded">UPDATE</button>

                }
                <a href="@Url.Action("Index","EmployeeRequest")" class="btn btn-secondary  btn-rounded">CLOSE</a>

            </div>
        </div>



    </div>
</form>
<div class="modal fade center" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>




<script>

    $(document).ready(function () {
        $("#ValidateCompanyCodeBtn").click(function () {
            showLoadingSpinner();
            var companyCode = $("#CompanyCode").val();
            
            $.ajax({
                url: '@Url.Action("GetUsers", "Company")',
                type: "get",
                data: { CompanyCode: companyCode }
            })
                .done(function (response) {
                    if (response.success) {
                        var userDropdown = $("#UserID");

                        // Clear existing options
                        userDropdown.empty();

                        // Iterate over response.Employees and populate dropdown
                        response.Users.forEach(function (user) {
                            // Append option element for each employee
                            userDropdown.append($('<option>', {
                                value: user.Id,
                                text: user.Name // Assuming there's a property EmployeeName for displaying the employee's name
                            }));
                        });


                    } else {
                        $("#errorDiv").html("No Company was found with this code");

                    }
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("FAIL");
                })
                .always(function () {
                    hideLoadingSpinner();
                });
        });
    });

    $("#ActionBtn").click(function () {
        var ID = $("#ID").val();
        var CompanyCode = $("#CompanyCode").val();
        var UserID = $("#UserID").val();
        var MappedToUserID = $("#MappedToUserID").val();
        showLoadingSpinner();
        $.ajax({
            url: '@Url.Action("Action", "FranchiseRequest")',
            type: "post",
            data: { CompanyCode: CompanyCode, UserID: UserID, ID: ID, MappedToUserID: MappedToUserID }
        })
            .done(function (response) {
                if (response.success) {
                    window.location.href = '@Url.Action("Index", "EmployeeRequest")';
                } else {
                    $("#errorDiv").html(response.Message);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                hideLoadingSpinner(); // Move hideLoadingSpinner inside .done() or .fail() to ensure it's executed at the right time
                alert("FAIL");
            })
            .always(function () {
                hideLoadingSpinner(); // Move hideLoadingSpinner inside .done() or .fail() to ensure it's executed at the right time
            });
    });





</script>