@model TheBookingPlatform.ViewModels.EmployeeListingViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <input type="text" hidden id="SelectedFilter" value="All" />
    <div class="col-lg-12 grid-margin stretch-card">
        @if (Model.Employees != null)
        {
            <div class="card">

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th class="text-center">
                                    Order
                                </th>
                                <th class="text-center">
                                    Name
                                </th>
                                <th class="text-center">
                                    Specialization
                                </th>
                                <th class="text-center">
                                    Services
                                </th>

                               
                                <th class="text-center">
                                    Online Booking
                                </th>
                                <th class="text-center">
                                    Calendar Manages
                                </th>

                                <th class="text-center">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Employees)
                            {
                                string ClassName = "";
                                if (item.Employee.IsActive == false)
                                {
                                    ClassName = "NONACTIVE";
                                }
                                else
                                {
                                    ClassName = "ACTIVE";
                                }

                                <tr class="@ClassName">
                                    <td style="width:40px;" class="text-center">
                                        <input type="number" class="form-control" value="@item.Employee.DisplayOrder" onchange="ChangeOrder('@item.Employee.ID', this.value)" />
                                    </td>
                                    <td class="text-center">@item.Employee.Name</td>
                                    <td class="text-center">@item.Employee.Specialization</td>
                                    <td class="text-center">
                                        @if (item.Services != null)
                                        {
                                            <select class="form-control">


                                                @foreach (var services in item.Services)
                                                {

                                                    if (services != null)
                                                    {
                                                        <option value="@services.Name">@services.Name</option>
                                                    }

                                                }

                                            </select>
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    </td>

                                    @if (item.Employee.AllowOnlineBooking == true)
                                    {
                                        <td class="text-center">
                                            <select class="form-control" onchange="ChangeOnlineBookingStatus('@item.Employee.ID')">
                                                <option value="True" selected>Yes</option>
                                                <option value="False">No</option>
                                            </select>
                                        </td>

                                    }
                                    else
                                    {
                                        <td class="text-center">
                                            <select class="form-control" id="AllowOnlineBooking" onchange="ChangeOnlineBookingStatus('@item.Employee.ID')">
                                                <option value="True">Yes</option>
                                                <option selected value="False">No</option>
                                            </select>
                                        </td>

                                    }
                                    <td class="text-center"><h6  style="cursor:pointer;color:white;background-color:blueviolet;border-radius:20px;" onclick='window.location.href="@Url.Action("Index","CalendarManage")"'>@item.ManageAccessCount</h6></td>
                                    <td style="display:flex;" class="text-center">

                                        <a title="Edit" href="@Url.Action("Action", "Employee", new { ID = item.Employee.ID })" type="button" class="btn btn-sm btn-rounded btn-info btn-icon-text"><i class="material-icons">edit</i></a>
                                        @if (item.Employee.IsActive)
                                        {
                                            <button title="In Active" data-href="@Url.Action("Delete", "Employee", new { ID = item.Employee.ID })" type="button" class="data-btn btn btn-sm btn-rounded btn-danger btn-icon-text" data-toggle="modal" data-target="#actionModal"><i class="material-icons">delete</i></button>
                                        }
                                        else
                                        {
                                            <button title="Activate" data-href="@Url.Action("Delete", "Employee", new { ID = item.Employee.ID })" type="button" class="data-btn btn btn-sm btn-rounded btn-info btn-icon-text" data-toggle="modal" data-target="#actionModal"><i class="material-icons">done</i></button>

                                        }
                                        <button title="Assign Services" data-href="@Url.Action("AssignService", "Employee", new { ID = item.Employee.ID })" type="button" class="data-btn2 btn btn-sm btn-rounded btn-success btn-icon-text" data-toggle="modal" data-target="#actionModal2"><i class="material-icons">badge</i></button>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {

            <div class="alert alert-warning col-md-12" role="alert">
                Sorry! No records exist.
            </div>
        }
    </div>
</div>

<script>

    function ChangeOnlineBookingStatus(ID) {
        $.ajax({
            url: '@Url.Action("UpdateOnlineBooking", "Employee")', // Update this with your controller and action names
            type: 'POST',
            data: { ID: ID },
            success: function (result) {
                alert("Status Updated");

            },
            error: function (error) {
                // Handle error response if needed
            }
        });
    }

    function ChangeIsActiveStatus(ID) {
        $.ajax({
            url: '@Url.Action("UpdateIsActiveStatus", "Employee")', // Update this with your controller and action names
            type: 'POST',
            data: { ID: ID },
            success: function (result) {
                alert("Active Status Updated");

            },
            error: function (error) {
                // Handle error response if needed
            }
        });
    }
    $(document).ready(function () {

        $('[data-toggle="tooltip"]').tooltip();
        $(".data-btn").click(function () {
            $.ajax({
                url: $(this).attr("data-href"),
            })
                .done(function (response) {
                    $("#actionModal .modal-dialog").html(response);
                });
        });
    });

    function ChangeOrder(employeeID, newOrder) {

        $.ajax({
            url: '@Url.Action("UpdateDisplayOrder", "Employee")', // Update this with your controller and action names
            type: 'POST',
            data: { employeeID: employeeID, newOrder: newOrder },
            success: function (result) {
                //alert("Order Updated");
                $(this).val(newOrder);
            },
            error: function (error) {
                // Handle error response if needed
            }
        });
    }


</script>



