@model TheBookingPlatform.ViewModels.CouponAssignmentListingViewModel
@{
    ViewBag.Title = "Index";
}
<style>
</style>

<div class="card">
    <div class="card-body">
        <h2 class="card-title">Coupon Assignments </h2>

        <form>
            <a style="padding:10px;" href="@Url.Action("Index","Coupon")" class="btn btn-primary btn-sm btn-rounded"><i class="fas fa-redo-alt mr-1"></i> Back to Coupons</a>
            <a style="padding:10px;" href="@Url.Action("Action", "CouponAssignment")" class="btn btn-success btn-sm btn-rounded"><i class="fas fa-plus mr-1"></i> Create</a>
        </form>


        <div class="col-lg-12 grid-margin stretch-card">
            @if (Model.CouponAssignments != null)
            {

                <div class="table-responsive">
                    <table id="CustomersTable" class="table table-striped">
                        <thead>
                            <tr>

                                <th class="text-center">
                                    Coupon Name
                                </th>

                                <th class="text-center">
                                    Customer Name
                                </th>
                                <th class="text-center">
                                    Customer Email
                                </th>
                                <th class="text-center">
                                    Assigned Date
                                </th>
                                <th class="text-center">
                                    Used
                                </th>
                                <th class="text-center">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CouponAssignments.Where(x => x.CouponAssignment.Used > 0))
                            {
                                <tr>
                                    <td class="text-center">
                                        @item.Coupon.CouponName
                                    </td>

                                    <td class="text-center">
                                        @item.Customer.FirstName @item.Customer.LastName
                                    </td>
                                    <td class="text-center">
                                        @item.Customer.Email
                                    </td>
                                    <td class="text-center">
                                        @item.CouponAssignment.AssignedDate.ToString("yyyy-MM-dd")
                                    </td>
                                    <td class="text-center">
                                        @item.CouponAssignment.Used
                                    </td>
                                    <td class="text-center">

                                        <a href="@Url.Action("Action", "CouponAssignment", new { ID = item.CouponAssignment.ID })" class="btn btn-sm btn-rounded btn-info btn-icon-text"><i class="mdi mdi-pencil"></i> EDIT</a>
                                        <button data-href="@Url.Action("Delete", "CouponAssignment", new { ID = item.CouponAssignment.ID })" type="button" class="data-btn btn btn-sm btn-rounded btn-danger btn-icon-text" data-bs-toggle="modal" data-bs-target="#actionModal"><i class="mdi mdi-delete"></i>DELETE</button>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {

                <div class="alert alert-warning col-md-12" role="alert">
                    Sorry! No records exist.
                </div>
            }
        </div>
    </div>
</div>


<div class="modal  fade center" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>
<script>



    $(document).ready(function () {
        $('#CustomersTable').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            }

        });
        $(document).on('click', '.data-btn', function () {
            $.ajax({
                url: $(this).attr("data-href"),
            })
                .done(function (response) {
                    $("#actionModal .modal-dialog").html(response);
                    $("#actionModal").modal('show'); // Make sure the modal is shown after the response is loaded
                });
        });
    });



</script>



