@model TheBookingPlatform.ViewModels.SettingsViewModel
@{
    ViewBag.Title = "Index";
}

<link href="https://cdn.materialdesignicons.com/7.2.96/css/materialdesignicons.min.css" rel="stylesheet">
@functions {
    public string GetIconClass(string templateName)
    {
        switch (templateName)
        {
            case "Appointment Confirmation": return "mdi mdi-calendar-check";
            case "Appointment Moved": return "mdi mdi-calendar-refresh";
            case "No-Show": return "mdi mdi-calendar-remove";
            case "Appointment Reminder": return "mdi mdi-bell-ring";
            case "Appointment Cancelled": return "mdi mdi-calendar-remove";
            case "Feedback Request": return "mdi mdi-comment-text";
            case "Rebook Reminder (Newsletter)": return "mdi mdi-email-sync";
            case "Appointment Confirmation (Whatsapp)": return "mdi mdi-whatsapp";
            case "Loyalty Card Decrease Notification": return "mdi mdi-card-remove";
            case "Loyalty Card Increase Notification": return "mdi mdi-card-plus";
            case "Loyalty Card Issue Notification": return "mdi mdi-card-account-details";
            case "Gift Card Issue Notification": return "mdi mdi-card-outline";
            case "Waiting List": return "mdi mdi-format-list-bulleted";
            case "Birthday Message": return "mdi mdi-cake-variant";
            case "First Registration Email": return "mdi mdi-email-plus";
            case "Appointment Payment Reminder": return "mdi mdi-cash-clock";
            case "Forgot Password": return "mdi mdi-lock-question";
            case "Coupon Discount": return "mdi mdi-tag";
            case "Last Minute Discount": return "mdi mdi-currency-usd";
            case "Payment invoice": return "mdi mdi-receipt-text";
            default: return "mdi mdi-email"; // fallback/default icon
        }
    }
}

<style>
    /* From Uiverse.io by namecho */
    .switch {
        --button-width: 3.5em;
        --button-height: 2em;
        --toggle-diameter: 1.5em;
        --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
        --toggle-shadow-offset: 10px;
        --toggle-wider: 3em;
        --color-grey: #cccccc;
        --color-green: #4296f4;
    }

    .slider {
        display: inline-block;
        width: var(--button-width);
        height: var(--button-height);
        background-color: var(--color-grey);
        border-radius: calc(var(--button-height) / 2);
        position: relative;
        transition: 0.3s all ease-in-out;
    }

        .slider::after {
            content: "";
            display: inline-block;
            width: var(--toggle-diameter);
            height: var(--toggle-diameter);
            background-color: #fff;
            border-radius: calc(var(--toggle-diameter) / 2);
            position: absolute;
            top: var(--button-toggle-offset);
            transform: translateX(var(--button-toggle-offset));
            box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
            transition: 0.3s all ease-in-out;
        }

    .switch input[type="checkbox"]:checked + .slider {
        background-color: var(--color-green);
    }

        .switch input[type="checkbox"]:checked + .slider::after {
            transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
            box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
        }

    .switch input[type="checkbox"] {
        display: none;
    }

        .switch input[type="checkbox"]:active + .slider::after {
            width: var(--toggle-wider);
        }

        .switch input[type="checkbox"]:checked:active + .slider::after {
            transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
        }

</style>

<div class="card">
    <div class="card-body">
        <div class="card-header">
            <h4 class="card-title">Email Templates </h4>
        </div>

        <div class="card-content">
            <form>
                <div class="row">

                    <input type="text" name="searchterm" class="form-control col-md-8" placeholder="Search." value="@Model.SearchTerm">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                </div>
                <button id="SearchBtn" class="btn btn-outline-primary btn-sm btn-rounded" type="button"><i class="fas fa-search mr-1"></i> Search</button>
                <button type="button" id="ResetBtn" class="btn btn-outline-secondary btn-sm btn-rounded"><i class="fas fa-redo-alt mr-1"></i> Reset</button>
                @if (User.IsInRole("Super Admin"))
                {
                    <a href="@Url.Action("Action", "EmailTemplate")" class="btn btn-outline-success btn-sm btn-rounded"><i class="fas fa-plus mr-1"></i> Create</a>
                }

            </form>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-12">
            <div class="col-lg-12 grid-margin stretch-card">
                @if (Model.EmailTemplates != null)
                {
                    <div class="card">

                        <div class="table-responsive">
                            <table id="EmailTemplatesTable" class="table table-striped">
                                <thead>
                                    <tr>

                                        <th style="padding-left:50px;">
                                            Name
                                        </th>
                                        @if (User.IsInRole("Super Admin"))
                                        {
                                            <th class="text-center">
                                                Business
                                            </th>
                                        }
                                        <th class="">
                                            Is Active
                                        </th>

                                        <th class="text-center">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.EmailTemplates)
                                    {
                                        <tr>
                                            <td style="padding-left:50px;">
                                                <i class="@GetIconClass(item.Name)"></i> @item.Name
                                            </td>

                                            @if (User.IsInRole("Super Admin"))
                                            {
                                                <th class="text-center">
                                                    @item.Business
                                                </th>
                                            }

                                        <td>
                                            @if (item.Name != "Rebook Reminder (Newsletter)")
                                            {
                                                if (item.IsActive == true)
                                                {
                                                    <label class="switch">
                                                        <input checked type="checkbox" data-id="@item.ID" name="IsActiveCB" class="isActiveCheckbox">
                                                        <span class="slider"></span>
                                                    </label>
                                                    @*<div class="form-check">
                    <input checked type="checkbox" data-id="@item.ID" name="IsActiveCB" class="isActiveCheckbox form-check-input" />
                    <label class="custom-control-label" for="customCheck1"></label>
                </div>*@
                                                }
                                                else
                                                {
                                                    <label class="switch">
                                                        <input  type="checkbox" data-id="@item.ID" name="IsActiveCB" class="isActiveCheckbox">
                                                        <span class="slider"></span>
                                                    </label>
                                                }
                                            }
                                        </td>

                                            <td class="text-center">
                                                <a href="@Url.Action("Action", "EmailTemplate", new { ID = item.ID })" class="btn btn-sm btn-rounded btn-info btn-icon-text">
                                                    <i class="mdi mdi-pencil"></i> EDIT
                                                </a>

                                                @if (User.IsInRole("Super Admin"))
                                                {
                                                    <button data-href="@Url.Action("Delete", "EmailTemplate", new { ID = item.ID })" type="button" class="data-btn btn btn-sm btn-rounded btn-danger btn-icon-text" data-bs-toggle="modal" data-bs-target="#actionModal">
                                                        <i class="mdi mdi-delete"></i> DELETE
                                                    </button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                else
                {

                    <div class="alert alert-warning col-md-12" role="alert">
                        Sorry! No records exist.
                    </div>
                }
            </div>
        </div>
    </div>

</div>


<script>


    $("#SearchBtn").click(function () {
        var SearchTerm = $("#Search").val();
        RepopulateEmailTemplates(SearchTerm);
    })

    $("#ResetBtn").click(function () {
        RepopulateEmailTemplates();
        $("#Search").val('');

    })
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });

     $('.isActiveCheckbox').change(function () {
            var isChecked = $(this).prop('checked');
            var itemId = $(this).data('id');

            // Make AJAX call
            $.ajax({
                url: '@Url.Action("UpdateEmailTemplate", "EmailTemplate")',
                type: 'POST',
                data: { ID: itemId, IsActive: isChecked },
                success: function (data) {
                    // Handle success
                    if (data.success) {
                        alert("Email Template Updated");
                    } else {
                        alert("Fail");

                    }
                },
                error: function (error) {
                    // Handle error
                    console.error('Error in Ajax call:', error);
                }
            });
        });


</script>



