@model TheBookingPlatform.ViewModels.LoyaltyCardAssignmentViewModel
@{
    ViewBag.Title = "CardAssignmentIndex";
}


    <div class="row">
        <div class="col col-lg-12">
            <div class="row">

                <div class="col-lg-12 grid-margin stretch-card">
                    @if (Model.LoyaltyCardAssignments != null)
                    {
                        <div class="card">

                            <div class="table-responsive">
                                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                    <thead>
                                        <tr>

                                            <th class="text-center">
                                                Card Number
                                            </th>
                                            <th class="text-center">
                                                Card Name
                                            </th>
                                            <th class="text-center">
                                                Customer
                                            </th>
                                            <th class="text-center">
                                                Mobile Number
                                            </th>

                                            <th class="text-center">
                                                Cash Back
                                            </th>
                                            <th class="text-center">
                                                Date of Assignment 
                                            </th>
                                            <th class="text-center">
                                                Expire In
                                            </th>
                                           
                                            <th>
                                                Action
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.LoyaltyCardAssignments)
                                        {
                                            <tr>
                                                <td class="text-center">@item.LoyaltyCardAssignment.CardNumber</td>
                                                <td class="text-center">@item.LoyaltyCardName</td>
                                                <td class="text-center">@item.Customer.FirstName @item.Customer.LastName</td>
                                                <td class="text-center">@item.Customer.MobileNumber</td>
                                                <td class="text-center">@item.LoyaltyCardUsage</td>
                                                <td class="text-center">@item.LoyaltyCardAssignment.Date.ToString("yyyy-MM-dd")</td>
                                                @if ((item.LoyaltyCardAssignment.Date.AddDays(item.LoyaltyCardDays) - DateTime.Now).Days < 0)
                                                {
                                                    <td class="text-center">Expired</td>
                                                }
                                                else
                                                {
                                                    <td class="text-center">@((item.LoyaltyCardAssignment.Date.AddDays(item.LoyaltyCardDays) - DateTime.Now).Days) Days</td>

                                                }
                                            <td class="text-center">
                                                <a href="@Url.Action("CardAssignmentAction", "LoyaltyCard", new { ID = item.LoyaltyCardAssignment.ID })" type="button" class="btn btn-sm btn-rounded btn-info btn-icon-text"><i class="mdi mdi-pen"></i>EDIT</a>

                                                <button data-href="@Url.Action("DeleteAssignment", "LoyaltyCard", new { ID = item.LoyaltyCardAssignment.ID })" type="button" class="data-btn btn btn-sm btn-rounded btn-danger btn-icon-text" data-toggle="modal" data-target="#actionModal"><i class="mdi mdi-delete"></i>DELETE</button>
                                            </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    else
                    {

                        <div class="alert alert-warning col-md-12" role="alert">
                            Sorry! No records exist.
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade center" id="actionModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
        </div>
    </div>


<script>

    $(document).ready(function () {
        $('#datatables').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            }

        });
        $(document).on('click', '.data-btn', function () {
            $.ajax({
                url: $(this).attr("data-href"),
            })
                .done(function (response) {
                    $("#actionModal .modal-dialog").html(response);
                    $("#actionModal").modal('show'); // Make sure the modal is shown after the response is loaded
                });
        });
    });

</script>