@model TheBookingPlatform.ViewModels.OpeningHourListingViewModel
@{
    ViewBag.Title = "Index";
}
<style>
</style>

<div class="card">
    <div class="card-body">
        <div class="card-header">
            <h4 class="card-title">OpeningHours </h4>
        </div>

        <div class="card-content">
            <form>
                <div class="row">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                </div>
                <a style="display:none;" href="@Url.Action("Action", "OpeningHour")" class="btn btn-outline-success btn-sm btn-rounded"><i class="fas fa-plus mr-1"></i> Create</a>

            </form>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-12">
            <div class="col-lg-12 grid-margin stretch-card">
                @if (Model.OpeningHours != null)
                {
                    <div class="card">

                        <div class="table-responsive">
                            <table id="OpeningHoursTable" class="table table-striped">
                                <thead>
                                    <tr>

                                        <th class="text-center">
                                            Day
                                        </th>
                                        <th class="text-center">
                                            Time
                                        </th>

                                        <th class="text-center">
                                            isClosed
                                        </th>
                                        @if (User.IsInRole("Super Admin"))
                                        {
                                            <th class="text-center">
                                                Business
                                            </th>
                                        }


                                        <th class="text-center">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OpeningHours)
                                    {
                                        <tr>
                                            <td class="text-center">@item.Day</td>
                                            @if (item.isClosed == true)
                                            {
                                                <td class="text-center">--</td>
                                            }
                                            else
                                            {
                                                <td class="text-center">@item.Time</td>

                                            }
                                            <td class="text-center">@item.isClosed</td>
                                            @if (User.IsInRole("Super Admin"))
                                            {
                                                <td class="text-center">@item.Business</td>
                                            }
                                        <td class="text-center">

                                            <a href="@Url.Action("Action", "OpeningHour", new { ID = item.ID })" class="btn btn-sm btn-rounded btn-info btn-icon-text"><i class="mdi mdi-pencil"></i> EDIT</a>
                                            @if (User.IsInRole("Super Admin"))
                                            {
                                                <button data-href="@Url.Action("Delete", "OpeningHour", new { ID = item.ID })" type="button" class="data-btn btn btn-sm btn-rounded btn-danger btn-icon-text" data-bs-toggle="modal" data-bs-target="#actionModal"><i class="mdi mdi-delete"></i>DELETE</button>
                                            }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                else
                {

                    <div class="alert alert-warning col-md-12" role="alert">
                        Sorry! No records exist.
                    </div>
                }
            </div>
        </div>
    </div>

</div>

<div class="modal  fade center" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>
<script>


    
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });


</script>



