@model TheBookingPlatform.ViewModels.GiftCardActionViewModel
@{
    ViewBag.Title = "Action";
    
}


<style>


    .form-group .checkbox label, .form-group .radio label, .form-group label, .form-group .label-on-left, .form-group .label-on-right {
        font-size: 14px;
        line-height: 1.428571429;
        color: black;
        font-weight: 400;
    }

    .checkbox label {
        cursor: pointer;
        padding-left: 0;
        color: black;
    }

    label {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 10px;
    }
</style>
<form id="actionForm">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                @if (Model.ID != 0)
                {
                    <h2 class="card-title">
                        Edit Gift Card
                    </h2>
                }
                else
                {
                    <h4 class="card-title">
                        Create Gift Card
                    </h4>
                }


                <div style="display:flex;align-items:end;" class="row">
                    <div class="col-md-6">
                        <input type="hidden" id="ID" value="@Model.ID" />
                        <div class="form-group">
                            <div class="input-group input-group-dynamic">
                                <label>
                                    Card Name
                                </label>
                                <input type="text" value="@Model.Name" class="form-control" name="Name" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group input-group-dynamic">

                                <label>
                                    Card Code
                                </label>
                                <input type="text" value="@Model.Code" class="form-control" name="Code" />


                            </div>
                            </div>
                        </div>
                </div>

                <div style="display:flex;vertical-align:middle;" class="row">

                    <div class="col-md-6">
                        <div class="form-check">
                            <label>
                                @if (Model.IsActive == true)
                                {
                                    <input type="checkbox" class="form-check-input" checked name="IsActiveCB" id="IsActiveCB">
                                }
                                else
                                {
                                    <input type="checkbox" class="form-check-input" name="IsActiveCB" id="IsActiveCB">

                                }
                                <br />
                                Is Active?
                            </label>

                            <input type="hidden" name="IsActive" id="IsActive" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group input-group-dynamic">

                                <label>
                                    Gift Card Amounts (separated by comma)
                                </label>
                                <input type="text" value="@Model.GiftCardAmount" class="form-control" name="GiftCardAmount" />


                            </div>
                            </div>
                        </div>


                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group input-group-dynamic">

                                <label>Expiry in Days</label>
                                <input type="number" id="Days" class="form-control" name="Days" value="@Model.Days" />
                            </div>
                            </div>
                        </div>
                    <div class="col-md-6">
                        <div class="form-group container">
                            <div class="input-group input-group-dynamic">

                                <label>Choose Image (Click on Image to Change)</label>
                                <br />
                                @if (Model.GiftCardImage == "" || Model.GiftCardImage == null)
                                {
                                    <img id="MainThumb" style="width:150px;" src="/Content/MainTemplate/assets/img/placeholder.jpg" alt="...">
                                }
                                else
                                {
                                    <img id="MainThumb" style="width:150px;" src="@Model.GiftCardImage" alt="...">

                                }

                                <input value="@Model.GiftCardImage" type="hidden" name="GiftCardImage" id="GiftCardImage" />
                                <input style="width:180px;" type="file" id="PhotoUpload" accept="image/*" />

                            </div>
                            </div>
                        </div>


                </div>
                <div class="col-md-12">
                    @if (Model.ID == 0)
                    {


                        <button id="ActionBtn" type="button" class="btn btn-primary  btn-rounded">SAVE</button>
                    }
                    else
                    {
                        <button id="ActionBtn" type="button" class="btn btn-secondary btn-rounded">UPDATE</button>

                    }
                    <a href="@Url.Action("Index","GiftCard")" class="btn btn-secondary  btn-rounded">CLOSE</a>
                </div>

            </div>



        </div>
    </div>
</form>
<div class="modal fade center" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>




<script>
    function CheckHaveExpiry() {
        var isChecked = $("#HaveExpiryCB").is(':checked');
        if (isChecked) {
            $("#HaveExpiry").val("True");
        //    $("#ExpiryDateDiv").show();
        } else {
            $("#HaveExpiry").val("False");
            //$("#ExpiryDateDiv").hide();


        }
    }
    $(document).ready(function () {
        CheckHaveExpiry();
        $("#PhotoUpload").change(function () {

            showLoadingSpinner();
            var element = this;
            var formData = new FormData();
            var totalFiles = element.files.length;

            for (var i = 0; i < totalFiles; i++) {
                var file = element.files[i];
                formData.append("Logo", file);
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("UploadImage", "Shared")',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false
            })
                .done(function (response) {

                    if (response.Success) {
                        // For now, we'll just delay the fade out for demonstration
                        hideLoadingSpinner();
                        $("#GiftCardImage").val(response.DocURL);
                        $("#MainThumb").attr("src", response.DocURL);
                    }

                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    hideLoadingSpinner();
                    alert("FAIL");
                })
        });
        $("#ActionBtn").click(function () {
            showLoadingSpinner();
            $.ajax({
                url: '@Url.Action("Action", "GiftCard")',
                type: "post",
                data: $("#actionForm").serialize()
            })
                .done(function (response) {
                    if (response.success) {
                        window.location.href = '@Url.Action("Index", "GiftCard")';
                    } else {
                        $(".errorDiv").html(response.Message);
                    }
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("FAIL");
                })
                .always(function () {
                    hideLoadingSpinner(); // Move hideLoadingSpinner inside .done() or .fail() to ensure it's executed at the right time
                });
        });

        $('#IsActiveCB').change(function () {
            var isChecked = $(this).is(':checked');
            if (isChecked) {
                $("#IsActive").val("True");
            } else {
                $("#IsActive").val("False");

            }
        });


    });

</script>