@model TheBookingPlatform.ViewModels.EmployeePriceChangeActionViewModel

@{
    ViewBag.Title = "Action";
}


<style>
    label {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .autocomplete-suggestions {
        box-sizing: border-box;
        border-radius: 5px;
        background: #FFF;
        cursor: default;
        overflow: auto;
        -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
        -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
        box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
        /* Customize the scrollbar */
        scrollbar-width: thin; /* For Firefox */
        scrollbar-color: #999 #FFF; /* For Firefox */
    }

        .autocomplete-suggestions::-webkit-scrollbar {
            width: 10px; /* Set the width of the scrollbar */
        }

        /* Define the scrollbar thumb */
        .autocomplete-suggestions::-webkit-scrollbar-thumb {
            background-color: #999; /* Color of the thumb */
            border-radius: 5px; /* Rounded corners for the thumb */
        }

            /* Define the scrollbar thumb on hover */
            .autocomplete-suggestions::-webkit-scrollbar-thumb:hover {
                background-color: #666; /* Color of the thumb on hover */
            }

        /* Define the scrollbar track on hover */
        .autocomplete-suggestions::-webkit-scrollbar-track {
            background-color: #FFF; /* Color of the track */
        }

        /* Define the scrollbar corner (optional) */
        .autocomplete-suggestions::-webkit-scrollbar-corner {
            background-color: #FFF; /* Color of the scrollbar corner */
        }

    #Notes::-webkit-scrollbar {
        width: 10px; /* Set the width of the scrollbar */
    }

    /* Define the scrollbar thumb */
    #Notes::-webkit-scrollbar-thumb {
        background-color: #999; /* Color of the thumb */
        cursor: pointer;
        border-radius: 5px; /* Rounded corners for the thumb */
    }

    /* Define the scrollbar thumb on hover */
    #Notess:-webkit-scrollbar-thumb:hover {
        background-color: #666; /* Color of the thumb on hover */
    }

    /* Define the scrollbar track on hover */
    #Notes::-webkit-scrollbar-track {
        background-color: #FFF; /* Color of the track */
    }

    /* Define the scrollbar corner (optional) */
    #Notes::-webkit-scrollbar-corner {
        background-color: #FFF; /* Color of the scrollbar corner */
    }

    .autocomplete-suggestion {
        padding: 2px 5px;
        white-space: nowrap;
        overflow: hidden;
    }

    .autocomplete-no-suggestion {
        padding: 2px 5px;
    }

    .autocomplete-selected {
        background: #F0F0F0;
    }

    .autocomplete-suggestions strong {
        font-weight: bold;
        color: #000;
    }

    .autocomplete-group {
        padding: 2px 5px;
        font-size: 16px;
        color: #000;
        display: block;
        border-bottom: 1px solid #000;
    }


    .day-button {
        padding: 10px 20px;
        margin: 5px;
        font-size: 12px;
        border-radius: 20px;
        cursor: pointer;
        border: 1px solid #ccc;
        background-color: #fff;
    }

        .day-button.disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }

        .day-button.active {
            background-color: #4CAF50;
            color: #fff;
        }

    .circular-box {
        width: 30px;
        height: 30px;
        background-color: lightskyblue;
        border-radius: 50%; /* Use 50% for a perfect circle */
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .close-button {
        background-color: transparent;
        color: black;
        border: none;
        border-radius: 20px;
    }

        .close-button:hover {
            background-color: darkred;
            color: white;
            border: none;
            border-radius: 20px;
        }
</style>

<form id="ActionForm">
    <div class="row">
        <div class="col-md-12">
            <div style="margin:0px;" class="card">
                <div class="card-body">
                    @if (Model.ID == 0)
                    {
                        <h2 class="card-title">
                            Create Price Change
                        </h2>
                    }
                    else
                    {
                        <h4 class="card-title">
                            Edit Price Change
                        </h4>
                    }

                    <input type="hidden" value="@Model.Days" name="Days" id="Days" />
                    <input type="hidden" value="@Model.ID" name="ID" id="ID" />

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Type of Change</label>
                            <select class="form-control choices__input" name="EmployeeID">
                                @foreach (var item in Model.Employees)
                                {
                                    if (Model.EmployeeID == item.ID)
                                    {
                                        <option selected value="@item.ID">@item.Name</option>
                                    }
                                    else
                                    {
                                        @*<option value="@item.ID">@item.Name</option>*@
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label>Type of Change</label>
                            <select class="form-control choices__input" name="TypeOfChange">
                                @if (Model.TypeOfChange == "Discount")
                                {
                                    <option selected value="Discount">Discount</option>
                                    <option value="Price Increase">Price Increase</option>
                                }
                                else if (Model.TypeOfChange == "Price Increase")
                                {


                                    <option value="Discount">Discount</option>
                                    <option selected value="Price Increase">Price Increase</option>

                                }
                                else
                                {
                                    <option value="Discount">Discount</option>
                                    <option value="Price Increase">Price Increase</option>
                                }
                            </select>
                        </div>

                    </div>

                    <div class="col-md-4">


                        <div class="form-group">
                            <div class="input-group input-group-dynamic">
                                <label>Percentage</label>
                                <input type="text" id="Percentage" value="@Model.Percentage" name="Percentage" class="form-control">
                            </div>
                        </div>

                    </div>



                    <div class="row">


                        <div class="col-md-12">

                            <div class="form-group col-md-6">
                                <div class="input-group input-group-dynamic">

                                    <label>
                                        Select Date
                                    </label>
                                    @if (Model.ID == 0)
                                    {
                                        <input type="date" id="Date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="StartDate">

                                    }
                                    else
                                    {
                                        <input type="date" id="Date" class="form-control" value="@Model.StartDate.ToString("yyyy-MM-dd")" name="StartDate">
                                    }
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="input-group input-group-dynamic">

                                    <label>
                                        Select Time
                                    </label>
                                    @if (Model.ID == 0)
                                    {
                                        <input type="time" id="StartTime" class="form-control timepicker" value="@DateTime.Now.ToString("HH:mm")" name="StartTime">

                                    }
                                    else
                                    {
                                        <input type="time" id="StartTime" class="form-control timepicker" value="@Model.StartTime.ToString("HH:mm")" name="StartTime">
                                    }
                                </div>
                            </div>



                        </div>

                        <div class="col-md-12">

                            <div class="form-group col-md-6">
                                <div class="input-group input-group-dynamic">

                                    <label>
                                        End Date
                                    </label>
                                    @if (Model.ID == 0)
                                    {
                                        <input type="date" id="Date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="EndDate">

                                    }
                                    else
                                    {
                                        <input type="date" id="Date" class="form-control" value="@Model.EndDate.ToString("yyyy-MM-dd")" name="EndDate">
                                    }
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="input-group input-group-dynamic">

                                    <label>
                                        Select Time
                                    </label>
                                    @if (Model.ID == 0)
                                    {
                                        <input type="time" id="EndTime" class="form-control" value="@DateTime.Now.ToString("HH:mm")" name="EndTime">

                                    }
                                    else
                                    {
                                        <input type="time" id="EndTime" class="form-control" value="@Model.EndTime.ToString("HH:mm")" name="EndTime">
                                    }
                                </div>
                            </div>



                        </div>
                    </div>

                    <div class="form-check">
                        <label>
                            @if (Model.Repeat == true)
                            {
                                <input class="form-check-input" type="checkbox" onchange="CheckIsRepeatRow()" checked name="Repeat" id="Repeat">
                            }
                            else
                            {
                                <input class="form-check-input" type="checkbox" onchange="CheckIsRepeatRow()" name="Repeat" id="Repeat">

                            }
                            Repeat Price Change
                        </label>
                        @if (Model.ID == 0)
                        {


                            <input type="hidden" name="Repeat" id="Repeat" />
                        }
                        else
                        {
                            <input value="@Model.Repeat" type="hidden" name="Repeat" id="Repeat" />

                        }
                    </div>

                    <div id="RepeatRow">
                        <div style="display:inline;">
                            <div class="form-group col-md-6">
                                <label>Frequency</label>
                                @if (Model.ID == 0)
                                {
                                    <select class="form-control choices__input" id="Frequency" name="Frequency">
                                        <option value="Every Week">Every Week</option>
                                        <option value="Every Day">Every Day</option>
                                        <option value="Every Month">Every Month</option>
                                    </select>
                                }
                                else
                                {
                                    if (Model.Frequency == "Every Week")
                                    {
                                        <select class="form-control choices__input" id="Frequency" name="Frequency">
                                            <option selected value="Every Week">Every Week</option>
                                            <option value="Every Day">Every Day</option>
                                            <option value="Every Month">Every Month</option>
                                        </select>
                                    }
                                    else if (Model.Frequency == "Every Day")
                                    {
                                        <select class="form-control choices__input" id="Frequency" name="Frequency">
                                            <option value="Every Week">Every Week</option>
                                            <option selected value="Every Day">Every Day</option>
                                            <option value="Every Month">Every Month</option>
                                        </select>
                                    }
                                    else if (Model.Frequency == "Every Month")
                                    {
                                        <select class="form-control choices__input" id="Frequency" name="Frequency">
                                            <option value="Every Week">Every Week</option>
                                            <option value="Every Day">Every Day</option>
                                            <option selected value="Every Month">Every Month</option>
                                        </select>
                                    }
                                }
                            </div>

                            <div id="WeekRow">
                                <div class="form-group col-md-6">
                                    <label>Every</label>
                                    <select class="form-control choices__input" id="Every" name="EveryWeek">
                                        @for (int i = 1; i <= 12; i++)
                                        {
                                            if (Model.EveryWeek == "1 Week")
                                            {
                                                if (i == 1)
                                                {
                                                    if (Model.EveryWeek == "1 Week")
                                                    {
                                                        <option selected value="@i Week">@i Week </option>

                                                    }
                                                    else
                                                    {
                                                        <option value="@i Week">@i Week </option>

                                                    }
                                                }
                                                else
                                                {
                                                    <option value="@i Week">@i Week </option>

                                                }

                                            }
                                            else
                                            {
                                                if (Model.EveryDay == i + " Weeks")
                                                {
                                                    <option selected value="@i Weeks">@i Weeks </option>
                                                }
                                                else
                                                {
                                                    <option value="@i Weeks">@i Weeks </option>
                                                }
                                            }
                                        }

                                    </select>
                                </div>

                                <div class="form-group col-md-12">
                                    <label>On</label><br />
                                    @if (Model.ID != 0)
                                    {
                                        if (Model.Frequency == "Every Week" && Model.Days != null)
                                        {
                                            foreach (var day in new[] { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" })
                                            {
                                                <button type="button" class="day-button @(Model.Days.Split(',').Contains(day) ? "active" : "")" data-day="@day">@day.Substring(0, 3)</button>
                                            }
                                        }
                                        else
                                        {
                                            foreach (var day in new[] { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" })
                                            {
                                                <button type="button" class="day-button" data-day="@day">@day.Substring(0, 3)</button>
                                            }
                                        }




                                    }
                                    else
                                    {
                                        foreach (var day in new[] { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" })
                                        {
                                            <button type="button" class="day-button" data-day="@day">@day.Substring(0, 3)</button>
                                        }
                                    }

                                </div>

                                <div class="form-group col-md-12">
                                    <label>Ends</label><br />

                                    <select name="EndsWeek" id="EndWeek" class="form-control choices__input">
                                        @if (Model.EndsWeek == "Never")
                                        {
                                            <option selected value="Never">Never</option>
                                            <option value="Specific Date">On a Specific Date</option>
                                            <option value="NumberOfTimes">After a Number of Times</option>
                                        }
                                        else if (Model.EndsWeek == "Specific Date")
                                        {
                                            <option value="Never">Never</option>
                                            <option selected value="Specific Date">On a Specific Date</option>
                                            <option value="NumberOfTimes">After a Number of Times</option>
                                        }
                                        else
                                        {
                                            <option value="Never">Never</option>
                                            <option value="Specific Date">On a Specific Date</option>
                                            <option selected value="NumberOfTimes">After a Number of Times</option>
                                        }
                                    </select>
                                </div>

                                <div id="OnADateRowWeek" class="form-group col-md-12">
                                    <div class="input-group input-group-dynamic">

                                        <label>Ends Date</label>
                                        <input type="date" name="EndsDateWeek" value="@Model.EndsDateWeek" class="form-control" id="EndDate">
                                    </div>
                                </div>


                                <div id="OnTimeRowWeek" class="form-group col-md-12">
                                    <div class="input-group input-group-dynamic">

                                        <label>Times</label>
                                        <input type="number" name="EndsNumberOfTimesWeek" value="@Model.EndsNumberOfTimesWeek" class="form-control" id="NumberOfTimes">
                                    </div>

                                </div>
                            </div>
                            <div id="DayRow">
                                <div class="form-group col-md-6">
                                    <label>Every</label>
                                    <select class="form-control choices__input" id="Every" name="EveryDay">
                                        @for (int i = 1; i <= 27; i++)
                                        {
                                            if (Model.EveryDay == "1 Day")
                                            {
                                                if (i == 1)
                                                {
                                                    if (Model.EveryDay == "1 Day")
                                                    {
                                                        <option selected value="@i Day">@i Day </option>

                                                    }
                                                    else
                                                    {
                                                        <option value="@i Day">@i Day </option>

                                                    }
                                                }
                                                else
                                                {

                                                    <option selected value="@i Days">@i Days </option>


                                                }
                                            }
                                            else
                                            {
                                                if (Model.EveryDay == i + " Days")
                                                {
                                                    <option selected value="@i Days">@i Days </option>
                                                }
                                                else
                                                {
                                                    <option value="@i Days">@i Days </option>

                                                }
                                            }
                                        }

                                    </select>
                                </div>

                                <div class="form-group col-md-12">
                                    <label>Ends</label><br />

                                    <select name="EndsDay" id="EndDay" class="form-control choices__input">
                                        @if (Model.EndsDay == "Never")
                                        {
                                            <option selected value="Never">Never</option>
                                            <option value="Specific Date">On a Specific Date</option>
                                            <option value="NumberOfTimes">After a Number of Times</option>
                                        }
                                        else if (Model.EndsDay == "Specific Date")
                                        {
                                            <option value="Never">Never</option>
                                            <option selected value="Specific Date">On a Specific Date</option>
                                            <option value="NumberOfTimes">After a Number of Times</option>
                                        }
                                        else
                                        {
                                            <option value="Never">Never</option>
                                            <option value="Specific Date">On a Specific Date</option>
                                            <option selected value="NumberOfTimes">After a Number of Times</option>
                                        }
                                    </select>
                                </div>

                                <div id="OnADateRowDay" class="form-group col-md-12">
                                    <div class="input-group input-group-dynamic">

                                        <label>Ends Date</label><br />
                                        <input type="date" name="EndsDateDay" value="@Model.EndsDateDay" class="form-control" id="EndDate">
                                    </div>
                                </div>


                                <div id="OnTimeRowDay" class="form-group col-md-12">
                                    <div class="input-group input-group-dynamic">

                                        <label>Times</label><br />
                                        <input type="number" name="EndsNumberOfTimesDay" value="@Model.EndsNumberOfTimesDay" class="form-control" id="NumberOfTimes">
                                    </div>
                                </div>


                            </div>
                            <div id="MonthRow">
                                <div class="form-group col-md-6">
                                    <label>Every</label>
                                    <select class="form-control choices__input" id="Every" name="EveryMonth">
                                        @for (int i = 1; i <= 12; i++)
                                        {
                                            if (Model.EveryMonth == "1 Month")
                                            {
                                                if (i == 1)
                                                {
                                                    if (Model.EveryMonth == "1 Month")
                                                    {
                                                        <option selected value="@i Month">@i Month </option>

                                                    }
                                                    else
                                                    {
                                                        <option value="@i Month">@i Month </option>

                                                    }
                                                }
                                                else
                                                {
                                                    <option value="@i Months">@i Months </option>
                                                }
                                            }
                                            else
                                            {

                                                if (Model.EveryMonth == i + " Months")
                                                {
                                                    <option selected value="@i Months">@i Months </option>
                                                }
                                                else
                                                {
                                                    <option value="@i Months">@i Months </option>

                                                }
                                            }
                                        }

                                    </select>
                                </div>

                                <div class="form-group col-md-12">
                                    <label>On The</label><br />
                                    <select class="form-control choices__input" id="OnThe" name="On">

                                        <option value="23rd">23rd</option>
                                        <option value="4th Saturday">4th Saturday</option>
                                    </select>

                                </div>

                                <div class="form-group col-md-12">
                                    <label>Ends</label><br />

                                    <select name="EndsMonth" id="EndMonth" class="form-control choices__input">
                                        @if (Model.EndsMonth == "Never")
                                        {
                                            <option selected value="Never">Never</option>
                                            <option value="Specific Date">On a Specific Date</option>
                                            <option value="NumberOfTimes">After a Number of Times</option>
                                        }
                                        else if (Model.EndsMonth == "Specific Date")
                                        {
                                            <option value="Never">Never</option>
                                            <option selected value="Specific Date">On a Specific Date</option>
                                            <option value="NumberOfTimes">After a Number of Times</option>
                                        }
                                        else
                                        {
                                            <option value="Never">Never</option>
                                            <option value="Specific Date">On a Specific Date</option>
                                            <option selected value="NumberOfTimes">After a Number of Times</option>
                                        }
                                    </select>
                                </div>

                                <div id="OnADateRowMonth" class="form-group col-md-12">
                                    <div class="input-group input-group-dynamic">

                                        <label>Ends Date</label><br />
                                        <input type="date" name="EndsDateMonth" class="form-control" value="@Model.EndsDateMonth" id="EndDate">
                                    </div>
                                </div>


                                <div id="OnTimeRowMonth" class="form-group col-md-12">
                                    <div class="input-group input-group-dynamic">

                                        <label>Times</label><br />
                                        <input type="number" name="EndsNumberOfTimesMonth" value="@Model.EndsNumberOfTimesMonth" class="form-control" id="NumberOfTimes">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">


                        @if (Model.ID == 0)
                        {
                            <button type="button" id="actionButton" class="btn btn-primary btn-rounded">Create EmployeePriceChange</button>
                        }
                        else
                        {
                            <button type="button" id="actionButton" class="btn btn-secondary btn-rounded">Edit EmployeePriceChange</button>

                        }
                        <a href="@Url.Action("Index", "EmployeePriceChange", new {EmployeeID= Model.EmployeeID})" class="btn btn-secondary  btn-rounded">CANCEL</a>

                        <span id="validationText" class="text-danger"></span>
                    </div>
                </div>
            </div>


        </div>


    </div>





</form>
<script>
    $(document).ready(function () {
        let serviceCount = 1;
        const buttons = $('.day-button');
        const today = new Date().toLocaleString('en-us', { weekday: 'long' });
        let selectedDays = []; // Create an array to store selected days
        buttons.each(function () {
            const button = $(this);
            const day = button.data('day');

            if (day === today) {
                button.addClass('disabled');
                button.prop('disabled', true);
                button.addClass('active');
                selectedDays.push(day);


            }

            button.click(function () {
                if (button.hasClass('active')) {
                    button.removeClass('active');
                    // Remove the day from the selectedDays array
                    selectedDays = selectedDays.filter(selectedDay => selectedDay !== day);
                } else {
                    button.addClass('active');
                    // Add the day to the selectedDays array if not already present
                    if (!selectedDays.includes(day)) {
                        selectedDays.push(day);
                    }
                }

                // Update the #Days input value with the selected days separated by commas
                $('#Days').val(selectedDays.join(', '));
            });
        });



    });

    function CheckIsRepeatRow() {
        var isChecked = $("#Repeat").is(':checked');
        if (isChecked) {
            $("#RepeatRow").show();
            $("#Repeat").val("True");
        } else {
            $("#RepeatRow").hide();
            $("#Repeat").val("False");

        }
    }

    $(document).ready(function () {
        CheckIsRepeatRow();
        CheckFrequency();
        CheckFreqAndEnd();

    });
    function CheckFreqAndEnd() {
        var Frequency = $("#Frequency").val();
        var EndWeek = $("#EndWeek").val();
        var EndDay = $("#EndDay").val();
        var EndMonth = $("#EndMonth").val();

        if (Frequency == "Every Week" && EndWeek == "Never") {
            $("#OnADateRowWeek").hide();
            $("#OnTimeRowWeek").hide();
        }
        else if (Frequency == "Every Week" && EndWeek == "Specific Date") {
            $("#OnADateRowWeek").show();
            $("#OnTimeRowWeek").hide();
        }
        else if (Frequency == "Every Week" && EndWeek == "NumberOfTimes") {
            $("#OnADateRowWeek").hide();
            $("#OnTimeRowWeek").show();
        }

        else if (Frequency == "Every Day" && EndDay == "Never") {
            $("#OnADateRowDay").hide();
            $("#OnTimeRowDay").hide();
        }
        else if (Frequency == "Every Day" && EndDay == "Specific Date") {
            $("#OnADateRowDay").show();
            $("#OnTimeRowDay").hide();
        }
        else if (Frequency == "Every Day" && EndDay == "NumberOfTimes") {
            $("#OnADateRowDay").hide();
            $("#OnTimeRowDay").show();
        }

        else if (Frequency == "Every Month" && EndMonth == "Never") {
            $("#OnADateRowMonth").hide();
            $("#OnTimeRowMonth").hide();
        }
        else if (Frequency == "Every Month" && EndMonth == "Specific Date") {
            $("#OnADateRowMonth").show();
            $("#OnTimeRowMonth").hide();
        }
        else if (Frequency == "Every Month" && EndMonth == "NumberOfTimes") {
            $("#OnADateRowMonth").hide();
            $("#OnTimeRowMonth").show();
        }

        else {
            $("#OnADateRowWeek").hide();
            $("#OnTimeRowWeek").hide();
            $("#OnADateRowDay").hide();
            $("#OnTimeRowDay").hide();
            $("#OnADateRowMonth").hide();
            $("#OnTimeRowMonth").hide();

        }
    }

    $("#EndMonth").on("change", function () {
        CheckFreqAndEnd();
    })
    $("#EndWeek").on("change", function () {
        CheckFreqAndEnd();
    })
    $("#EndDay").on("change", function () {
        CheckFreqAndEnd();
    })
    $("#Frequency").on("change", function () {
        CheckFrequency();
    })

    function CheckFrequency() {
        var Frequency = $("#Frequency").val();
        if (Frequency == "Every Week") {
            $("#WeekRow").show();
            $("#DayRow").hide();
            $("#MonthRow").hide();
        } else if (Frequency == "Every Day") {
            $("#WeekRow").hide();
            $("#DayRow").show();
            $("#MonthRow").hide();
        } else if (Frequency == "Every Month") {
            $("#WeekRow").hide();
            $("#DayRow").hide();
            $("#MonthRow").show();
        }
    }



    $("#actionButton").click(function () {

        // If not the specific validation message, proceed with the AJAX request directly
        $.ajax({
            url: '@Url.Action("Action", "EmployeePriceChange")',
            type: "post",
            data: $("#ActionForm").serialize()
        })
            .done(function (response) {
                if (response.success) {
                    window.location.href = '@Url.Action("Index", "EmployeePriceChange", new {EmployeeID = Model.EmployeeID})';
                }
                else {
                    $(".errorDiv").html(response.Message);
                }
            });


    });


</script>

